[2015-08-15 21:46] hotchemi opened #1 "Correspond to final M release"
- [x] Fix `Util.isMNC`

[2015-08-15 21:51] hotchemi opened #2 "Require multiple permissions at once"
[code]

[2015-08-16 09:45] hotchemi opened #3 "Rewriting processor module in Kotlin"

[2015-08-17 22:43] #1 closed

[2015-08-18 01:55] hotchemi opened #6 "Using compat module"

[2015-08-18 19:22] #6 closed

[2015-08-18 19:22] hotchemi opened #7 "Using robolectric and mockito for library test."

[2015-08-19 07:55] daisy1754 opened #8 "Handling permission is denied/prohibited case in onRequestPermissionResult"
Current implementation of PermissionDIspatcher generates code that executes @ShowsRationale annotated method inside onRequestPermissionResult when the permission is not granted. I think it's a bit weird (well, the Activity#shouldShowRequestPermissionRationale()  is weird API in the first place...)

[The doc](https://developer.android.com/preview/features/runtime-permissions.html#explain-need) expl

[2015-08-19 23:18] hotchemi commented on #8
Yup that's exactly. This feature was implemented from 1.0.0 just as experimental but this is my failure.
On the other hand, some people request me to the feature which insert an action when user deny permission, so I'm gonna add another annotation.
Anyway I'm gonna fix the issue. Thx!

[2015-08-20 10:51] hotchemi commented on #8
1.0.1 was out! Really thx.

[2015-08-20 10:51] #8 closed

[2015-08-23 21:36] #2 closed

[2015-08-23 21:42] hotchemi opened #10 "Separate module to annotation and util."

[2015-08-23 21:48] hotchemi opened #11 "Use variable to a generated class"

[2015-08-23 21:59] #7 closed

[2015-08-24 15:05] #11 closed

[2015-08-24 16:47] #10 closed

[2015-08-26 09:15] aurae opened #12 "Add Permission Denied handling"
At the moment, PermissionsDispatcher's generated code for `onRequestPermissionsResult` verifies the grant results and invokes the positive callback annotated with `@NeedsPermission(s)` in case the permissions were granted. How about we add support for negative callbacks, accompanied by an annotation named `@DeniedPermission(s)`, invoked when the user denies a requested Runtime Permission? This wou

[2015-08-26 09:47] hotchemi commented on #3
Doing in kotlin branch.

[2015-08-26 16:14] hotchemi commented on #12
This is what some people request me stuff.
We're already discussing with pull request so I'm gonna close this issue.

[2015-08-27 08:12] hotchemi opened #14 "Can't use with AndroidAnnotations"
Because they use _ ends with classes actually.

[2015-08-27 08:41] aurae commented on #14
Rather than checking the class name for "Activity" or "Fragment", the processor should check if the class annotated with `@RuntimePermissions` is a subtype of `android.app.Activity`, `android.app.Fragment` or `android.support.v4.app`.

In an annotation processor I recently wrote, I also only allow for some annotated elements to be of a certain type. Applying this to PermissionsDispatcher could loo

[2015-08-27 09:08] hotchemi commented on #14
Oh it's really nice idea!

[2015-08-27 17:03] katsuki-nakatani opened #16 "Call the WithCheck method from Fragment. onRequestPermissionsResult is not called back"
Generated Diapatcher.java withCheck method
[code]

If the target is a fragment it is expected to be referred to as the FragmentCompat class below
[code]

not called as well shouldShowRequestPermissionRationale method
It is necessary to call in FragmentCompat

We hope that you add the fragment for the method to PermissionsUtils.java

[code]

But if you make this change, there is a need to up the Mi

[2015-08-28 15:37] hotchemi commented on #3
After releasing 1.2.0. Restart this issue. I'm gonna recreate kotlin branch again.

[2015-08-28 15:39] hotchemi commented on #16
Thanks for your report! I'm gonna deal with.

[2015-08-30 06:09] fat-tire opened #17 "Could this support methods that return values?"
First off this is very cool, so thanks for implementing it!

Right now, `PermissionsDispatcher` only seems to work if the method annotated with `@NeedsPermission` is of type `void` and doesn't return anything.  (It actually *does* let you annotate a method that returns a value, but the resulting `...WithCheck` methods are`static void` so you can't use it in place of the original call).

Would it b

[2015-08-30 06:36] fat-tire opened #18 "Allow multiple methods to use same @NeedsPermission (and avoid DuplicatedValueException)"
Say that you have multiple methods that each require the identical permission to, say, write to external storage.  Because you don't know what the user is going to do, you want to make sure that if *either* method is called, the appropriate permissions is checked and a request is made to the user...

So--- you annotate with `@NeedsPermission("android.permission.WRITE_EXTERNAL_STORAGE")`
 on each.

[2015-08-30 07:38] aurae commented on #18
I can see how multiple methods with the same `@NeedsPermission` signature would be a thing. I don't think it would be an issue if we allowed for that, albeit the uniqueness of other annotated methods (`@ShowsRationale` and soon `@DeniedPermission`) have to be ensured. In this case, the same 'rationale' and 'deny' callbacks would be invoked for all `@NeedsPermission` methods with identical signatur

[2015-08-30 07:50] aurae commented on #17
I don't see how the asynchronous process of requesting permissions could be changed to allow for arbitrary return types yet, since those would need to be propagated to the caller somehow. I suggest you annotate your methods based on "access" use cases, e.g.

[code]

I do agree about the need for a compile-time exception and validations on the return types of annotated methods, though!

[2015-08-30 08:08] fat-tire commented on #18
In the above case you have both `ShowCamera()` and `UseCamera()` sharing the same rationale (`showCameraRationale`).  I actually think in most cases you could just say "give me the damn permission.." but to be honest I could anticipate wanting a different rationale for each situation...

[I just need to pause and note that Google's new runtime permission model is really, really awful IMO.  In cont

[2015-08-30 08:45] aurae commented on #18
The annotation processor relies heavily on the permission signatures provided in the Annotation in order to do its thing, therefore it would raise a DuplicatedValueException if you provide more than 1 ShowRationale with identical signatures. Maybe if the annotations could optionally be provided with an ID from the user's side, the compiler can stitch together rationale callbacks with the same sign

[2015-08-30 11:14] hotchemi commented on #18
Right, currently we restrict user to give each annotation to unique value because there is no other way to find related optional annotations.
As @aurae said, we can implement new feature that setting unique id to identify each method, but IMO it may complicate library's api. I don't like it.
Actually our validate is based on `@RuntimePermissions`. I mean you can declare same permission in differen

[2015-08-30 11:33] hotchemi commented on #17
In my think, it's not necessary requirement.
In [official sample](https://github.com/googlesamples/android-RuntimePermissions/blob/master/Application/src/main/java/com/example/android/system/runtimepermissions/MainActivity.java#L142), they check permissions only when replacing fragment.
In a word, you can separate handling permissions and do some stuff with permissions to different methods right?

[2015-08-30 22:25] fat-tire commented on #17
@aurae, it's a perplexing issue, for sure..

FWIW, some Activity methods which one might want to `@Override` (like `onSearchRequested()`, `onTouchEvent()`, etc.) do return values, which make them ineligible for being annotated with `@NeedsPermission`.  And then of course every one that might be in the activity that uses a permission would have to be refactored.

that said, I really don't know how/

[2015-08-31 07:27] aurae commented on #17
Thanks for your input and the link! Sadly, as you said, the synchronicity of methods with return types doesn't necessarily play along with the way Runtime Permissions have been constructed. If we allowed for this, there are two major factors that cause problems with this approach:

[code]

Again, I would advocate for code to be refactored in a way that relies entirely on `void` methods. We'll see

[2015-08-31 07:31] aurae commented on #3
I have started working on the Kotlin implementation and enhancements in my fork (not pushed yet, though)! I will inform you once it's available.

[2015-08-31 21:16] destil opened #19 "It can't be used with Dagger 2"
Hi, when I try to use it in a project with Dagger 2, I get this exception during build:

Error:Execution failed for task ':app:compileDebugJavaWithJavac'.

[2015-08-31 21:34] destil commented on #19
I had some issues in Dagger, once I fixed them, I could enable this library again. However the error message from your library was displayed first and it confused me.

[2015-08-31 21:34] #19 closed

[2015-08-31 22:27] hotchemi commented on #19
OK

[2015-09-01 05:55] hotchemi commented on #3
Wow amazing! You should push it!

[2015-09-02 04:32] hotchemi commented on #16
For the time being I'm gonna rule out android.app.Fragment. We should deal with it as a option but currently I have no idea about good interface...

[2015-09-03 06:52] hotchemi commented on #17
I think you misunderstand the point.
`requirePermissions` is not synchronous, but you can ask user to grant permissions before synchronous stuff is needed.
Please check [it](https://github.com/googlesamples/android-RuntimePermissions/blob/master/Application/src/main/java/com/example/android/system/runtimepermissions/MainActivity.java#L177) out. Official sample is checking permissions before adding

[2015-09-03 06:52] hotchemi commented on #17
I'm gonna close this issue, if u have any problem please reopen it.

[2015-09-03 06:52] #17 closed

[2015-09-03 06:53] hotchemi commented on #18
Any update?

[2015-09-03 14:21] aurae commented on #16
Support for `android.app.Fragment` will be included once the library revision in Kotlin is being introduced, which should hopefully be some time this month. It will enable you to annotate native Fragments with `@RuntimePermissions` if you also added a dependency on support-v13 in your project.

[2015-09-03 16:06] aurae commented on #3
Available now in the kotlin-new branch. Most of the test suite needs to be ported, but other than that the foundation for future development in Kotlin is created!

[2015-09-03 20:47] Fleker commented on #14
Any update on this? I also ran into the `WrongClassException` when trying to compile one of my activities that was an `AppCompatActivity`. I don't know why that was happening, but a fix would be appreciated.

[2015-09-03 23:25] hotchemi commented on #14
@Fleker Do u use AndroidAnnotations?

[2015-09-03 23:33] Fleker commented on #14
I spent some more time and figured out my problem. I think it had to do with trying to annotate a private method and it broke on compilation. Now my issue has been resolved.

[2015-09-04 01:29] hotchemi commented on #14
OK but the error message is wired...

[2015-09-06 18:50] #12 closed

[2015-09-06 22:45] hotchemi commented on #3
I created wip pull request so close this issue.

[2015-09-06 22:45] #3 closed

[2015-09-06 22:46] hotchemi commented on #14
I'm gonna delete validation. If user don't annotate proper class, it causes compile error so it doesn't matter.

[2015-09-06 22:50] WonderCsabo commented on #14
@hotchemi i cannot say it is a good idea. Generating a non-compilable class is not user friendly, and should be always avoided. Moreover, it will not be clear to the user that the processor is buggy, or she/he used it in a wrong way.

Why don't you just apply the easy fix which was already proposed?

[2015-09-07 07:05] hotchemi commented on #14
@WonderCsabo Thanks, I changed my mind!

[2015-09-07 07:05] hotchemi opened #27 "Separate annotation and util module"
Like that.
https://github.com/MichaelEvans/Aftermath

[2015-09-07 07:11] aurae commented on #27
We already have a setup like that, kind of, since the library module contains two source folders for `android` and plain `java`. What would be the advantage of this?

[2015-09-08 02:53] hotchemi commented on #27
Nothing especially but when I tried to do that, it didn't go well may be...

[2015-09-08 02:54] hotchemi commented on #27
It's worth to re-challenge.

[2015-09-13 06:46] hotchemi commented on #18
@fat-tire If u need this feature immediately, please reopen it. I'm gonna close it cos u can handle with this  issue with other way, I guess.

[2015-09-13 14:40] hotchemi commented on #14
I realized This implementation can't catch nested super class problem.
I mean if the target extends AppCompatActivity it doesn't go well in this case...

[2015-09-13 14:43] WonderCsabo commented on #14
@hotchemi I think you are wrong. `types.isSubType(element.asType(), activityType))` will return true if the actual element is a subclass of `AppCompatActivity`.

[2015-09-13 14:54] hotchemi commented on #14
@WonderCsabo Oh really? I tried to add [this](https://github.com/hotchemi/PermissionsDispatcher/blob/fix-14/permissionsdispatcher-processor/src/test/java/permissions/dispatcher/processor/data/Source.java#L839-L858) test data but it doesn't go well...anything wrong?

[2015-09-13 15:05] WonderCsabo commented on #14
I think the test data is OK. However `isSubTypeOf` definitely works on multi-level inheritance. It should as defined in the JLS, but i also double checked. Maybe you are calling it wrong somewhere.

[2015-09-13 15:09] hotchemi commented on #14
Oh thanks.
Actually we define [checking](https://github.com/hotchemi/PermissionsDispatcher/blob/fix-14/permissionsdispatcher-processor/src/main/java/permissions/dispatcher/processor/PermissionsProcessor.java#L69-L73) in these lines and using them in these [lines](https://github.com/hotchemi/PermissionsDispatcher/blob/fix-14/permissionsdispatcher-processor/src/main/java/permissions/dispatcher/proce

[2015-09-13 15:37] hotchemi commented on #14
@WonderCsabo @aurae
I realized wired thing.
Instead of original extended Activity, I tried to use actual FragmentActivity, and the test passed.
With debug, it seems that original activity doesn't have inheritance information, I'm not sure why...

[2015-09-13 15:38] hotchemi commented on #14
It might be the bug of compiler-testing.

[2015-09-13 15:45] WonderCsabo commented on #14
In your test data you extend the outer class with the inner class. Am I
seeing this right?

[2015-09-13 15:49] hotchemi commented on #14
`static class SuperActivity extends Activity {}`
I think it must extends android.app.Activity right? It's just static.

[2015-09-13 16:21] #14 closed

[2015-09-13 17:11] #16 closed

[2015-09-13 17:12] hotchemi commented on #16
@katsuki-nakatani Please check 1.2.1.

[2015-09-13 17:24] hotchemi opened #31 "Add android.app.Fragment support"
Picasso or Retrofit's implementation are very useful for us I guess.

[2015-09-13 17:38] hotchemi commented on #27
This issue includes writing unit test for `PermissionUtis` with Robolectric and mockito.

[2015-09-13 17:41] WonderCsabo commented on #14
You deleted the commit unfortunately, but i think your test case looked like this:
[code]
This cannot compile, because of cyclic inheritance. So that is why `isSuperType` returned `false`.

[2015-09-13 17:48] hotchemi commented on #14
@WonderCsabo Oh sorry that was my mistake...

[2015-09-13 20:55] aurae commented on #31
The support is already integrated into 2.0.0; I'll do a quick write-ups of how the optional dependency works!

[2015-09-14 04:22] hotchemi commented on #31
@aurae
Actually I wanna re-consider the api interface.
In my think, resolving the problem by checking support v13 existence may causes the problem.
I mean, some app use `android.appFragment` and `support.v4.Fragment` at the same time.

[2015-09-14 04:40] fat-tire commented on #18
Well "need" is relative.  Right now I'm skipping API 23 entirely due to the new permissions requirement and hoping Google provides some better suggestions to implement it... <sigh>

[2015-09-14 05:45] hotchemi commented on #18
@fat-tire No, I just don't want to complicate the api any more. A ton of developers request a new feature but we have to focus on clean up the interface and which feature is really needed.
In this case, you can implement show rationale logic by yourself right? `@ShowRationale` is just the option and you can handle with `PermissionUtils` may be.

[2015-09-14 05:52] fat-tire commented on #18
Yes, I can wing it.  Not a problem.  But I do imagine there will be lots of apps which need to check the same permission in multiple methods within a single activity.  That's the real issue-- multiple `@NeedsPermission`s-- much more than the secondary conversation above about handling `@ShowRationale`s for each individual `@NeedsPermission`.

[2015-09-14 06:01] aurae commented on #31
I think that it would be an even better API if the user didn't have to deal with PermissionsDispatcher's configuration when it comes to fragments.

Here is how it works in the new Kotlin architecture:

* PermissionsDispatcher is supported on API levels 4+, since it depends on `support-v4` because of its `ActivityCompat` usage
* Because of that, the library supports `Activity` and `support.v4.Fragm

[2015-09-14 14:59] hotchemi commented on #18
OK, actually I have no idea to handle with the problem well but we have to re-consider about of it.

[2015-09-17 05:20] hotchemi commented on #31
Oh sorry, I've not seen your PR well, please just a minute.

[2015-09-17 07:11] aurae commented on #31
It's all good. Take your time!

[2015-09-19 17:06] markini opened #32 "Asks for already granted permissions"
I have 2 methods, both need multiple permissions:

[code]

Even after granting the `WRITE_EXTERNAL_STORAGE` permission at the first method, the app still asks about this permission at the second method.

[2015-09-20 04:19] hotchemi commented on #32
I think this is the default implementation of android framework.

The library just calls [ActivityCompat.requestPermissions](http://developer.android.com/reference/android/support/v4/app/ActivityCompat.html#requestPermissions(android.app.Activity, java.lang.String[], int)). Please see the generated code.

[2015-09-21 14:50] aurae commented on #32
This is definitely interesting. Have you filed an issue on the AOSP bug tracker yet? This doesn't seem to be working as intended; however, as @hotchemi already said, we are kinda at the mercy of the framework here, since we rely solely on the framework, and PermissionsDispatcher simply provides a nicer interface to working with that.

[2015-09-25 21:39] kcoppock commented on #32
I think you should be wrapping the check on `ActivityCompat.requestPermissions()` in checks for `ContextCompat.checkSelfPermission()` as well, to make sure the permissions haven't already been granted. `ActivityCompat.requestPermissions()` will *always* request permission, even if you already have it, to my knowledge.

[2015-09-26 00:26] hotchemi commented on #32
@kcoppock Of course we do it. Please see generated code.

[2015-09-26 00:44] hotchemi commented on #32
@markini @aurae
I understand why it happens.
When you try to handle multiple permissions at once, library checks all of permissions have been granted or not with [PermissionUtils](https://github.com/hotchemi/PermissionsDispatcher/blob/master/permissionsdispatcher/src/main/android/permissions/dispatcher/PermissionUtils.java#L38).
And if there is one or more not granted permission, we have to call r

[2015-09-26 07:22] aurae commented on #32
According to [this AOSP issue](https://code.google.com/p/android-developer-preview/issues/detail?id=2966), asking for an already granted permission is intended behaviour. We could filter out all permissions from the `String[]` signature that had been granted before and call `requestPermissions()` with only those, however I feel like this should be an opt-in behaviour, since being able to "ask agai

[2015-09-26 07:47] hotchemi commented on #32
That's exactly. We can filter but is it worth? My opinion is "No" and we should follow the default behaviour of framework.
Really appreciate for your report @markini .

[2015-09-26 07:47] #32 closed

[2015-10-13 03:01] ThanosFisherman opened #34 "Can This Lib work in a background Service?"
Hello, that's my question pretty much. I need to check for location permissions in my background service so I thought this lib could save me a lot of time (and code).

[2015-10-13 07:16] aurae commented on #34
Requesting a Runtime Permission is currently not possible from a Service, since `requestPermissions()` is available only from `Activity` and the two flavors of `Fragment`. This is a limitation imposed by the framework.

The common practice how to approach this would be to check for the permission in your Service using our `PermissionUtils.hasSelfPermission()` method (since that only requires a `Co

[2015-10-13 15:06] ThanosFisherman commented on #34
Damn that new permission system is making my life harder. But Thank you @aurae that's actually a good idea. I'm going to implement it just like that. Cheers!

[2015-10-14 06:27] hotchemi commented on #34
Yeah that's the problem for official android mechanism.
You can also use `PermissionChecker` in support v4 library.

[2015-10-14 06:27] #34 closed

[2015-10-14 06:55] laomo opened #35 "Module depends on one or more Android Libraries but is a jar"
Warning:Module 'com.github.hotchemi:permissionsdispatcher:1.2.1' depends on one or more Android Libraries but is a jar

[2015-10-14 07:15] laomo commented on #35
In my case, many repositories(JCenter, Central and https://jitpack.io/) in my project.  so I need write like this:
[code]

[2015-10-14 07:15] #35 closed

[2015-10-14 16:06] hotchemi opened #36 "Generate unique request code"
Now, we generate request code from zero per `@RuntimePermissions` annotated class.
But it may cause conflict when the user annotate base class and extended class or like that at once.
So, we should generate completely unique code in the app or provide a option like this.

[code]

[2015-10-14 20:15] aurae commented on #36
I don't think we should transfer the burden of request code bookkeeping to the user, however I do see the point and the potential issue with inheritance. I think we should implement a global request code counter for the processor round-trip. Let's add this to 2.0 and the Kotlin revision, though!

[2015-10-14 23:44] hotchemi commented on #36
Actually it's the feedback from the user.
It's just the couner case but the same thing happen when you use Activity which has anntated fragment.

[2015-10-14 23:45] hotchemi commented on #36
And when it comes to the Kotlin, I've been thinking which we should go, Java8 or Kotlin...
And I wanna discuss about the stuff at the pr issue.

[2015-10-15 21:11] Maxxan opened #37 "Gradle sync fail"
I follow the instructions how to import the library, but I get this error:
Error:Could not GET 'https://jitpack.io/com/github/hotchemi/permissionsdispatcher-processor/1.2.1/permissionsdispatcher-processor-1.2.1.pom'. Received status code 401 from server: Repository not found or requires authentication

Android studio 1.5

[2015-10-15 22:17] Maxxan commented on #37
I figured out it was due to the order of repositories. When jitpack.io was last one, then it worked.

[2015-10-16 00:11] hotchemi commented on #37
You should see https://github.com/hotchemi/PermissionsDispatcher/issues/35.

[2015-10-16 00:11] #37 closed

[2015-10-18 17:37] Maxxan opened #38 "Allow parameters"
It would be nice if it could allow parameters for the function that needs permission.

For example, if the function is
@NeedsPermission(the permission)
void myFunc(Object aParamater) {
...

could be called by
MyActivityPermissionDispatcher.myFuncWithCheck(this, theObjectParameter);

Btw, any ETA on version 2.0?

[2015-10-19 01:35] hotchemi commented on #38
Sounds interesting.
When it comes to 2.0, we have no plan actually.

[2015-10-19 06:05] Maxxan commented on #38
I see..
Maybe it could be added to 1.2.x.. ;)

[2015-10-19 06:10] hotchemi commented on #38
@Maxxan DO u mean that u need a native fragment support?

[2015-10-19 06:19] Maxxan commented on #38
No, I just thought that it had not fragment support at all, but then I saw
that it had so I edited the post. :) Now it's just parameter support that
I'd like. :)

[2015-10-19 06:21] hotchemi commented on #38
Gotcha.

[2015-10-19 12:34] mtrakal opened #39 "ShowsRationales callback"
Hi,

it would be nice, when we could show Dialog (or do any other action) on calling ShowsRationales. Now it's possible show some Toast, but you can not interact on it.
Everything what you open is overlap by permission dialog, which is called immediately.

In some cases is better show dialog with OK button than toast. When you make app for older people, they like Click on button after read a messa

[2015-10-19 17:29] Maxxan commented on #39
+1
It would be very useful!

[2015-10-20 00:09] aurae commented on #39
In version 2, we introduce the concept of a PermissionRequest object, which is passed to ShowRationale callbacks. On those, you call either `proceed()` or `cancel()` depending on whether you want the request to "go through" or abort. You will be able to defer this choice to a listener click in a Dialog, for instance, which will resolve this issue!

[2015-10-23 07:46] hotchemi commented on #39
OK, we should discuss about the interface!
@aurae Any idea?

[2015-10-27 19:31] BukT0p commented on #14
Hi, its me, again. Tried to use this lib one more time and got this message:
`Error:Execution failed for task ':app:compileDebugJavaWithJavac'.

I have my fragment generated and dispatcher is generated too. But there is no code for calling the dispatcher inside the generated fragment. I can't find much details on that in log.

[2015-10-28 01:43] hotchemi commented on #14
Could u paste the code of fragment? I guess you don't defined @NeedsPermission.

[2015-10-28 10:52] BukT0p commented on #14
As stated before I have my TestFragment_ generated as well as TestFragmentPermissionsDispatcher but in TestFragment_ there are no references to Dispatcher. I have compilation error https://gist.github.com/BukT0p/572e431288b698f25de0

[2015-10-29 01:15] hotchemi commented on #14
@BukT0p Umm it's make sense because u don't use original fragment. Could u send pull request?

[2015-11-10 10:11] TheKlint commented on #18
I have also run into this problem, with multiple methods needing the same permission, so I would really appreciate, if you would prioritise this.

Thanks :+1:

[2015-11-19 03:44] SmallMouth opened #40 "README Dependencies 2.0.0 ?"
I cant download
[code]
And I check maven, the latest is 1.2.1? right?
https://bintray.com/hotchemi/maven/permissionsdispatcher/view

[2015-11-19 03:56] hotchemi commented on #40
Ah sorry currently our latest one is 1.2.1. So please use it.

[2015-11-19 03:56] #40 closed

[2015-11-19 03:57] hotchemi opened #41 "Service support"
It's more convenient to support Service or something on those lines which has no ui.

[2015-11-19 03:57] SmallMouth commented on #40
thank you!

[2015-11-19 14:18] Shusshu commented on #18
+1

[2015-11-19 15:56] Shusshu opened #42 "DeniedPermission does not work in a Fragment v4"
I can make it work in an Activity but not in a support v4 Fragment

[2015-11-19 18:22] aftabsikander commented on #39
@aurae When you guys are planning to release version 2. As of now I heavily plan on getting this feature to show user some explanation about why i need this permission.

[2015-11-19 23:20] hotchemi commented on #42
What is the error?

[2015-11-20 02:01] SmallMouth commented on #42
I think because,
now support ActivityCompat/FragmentCompat,
but if use v4 Fragment need use requestPermissions
http://developer.android.com/intl/zh-tw/reference/android/support/v4/app/Fragment.html#requestPermissions(java.lang.String[],%20int)

http://stackoverflow.com/questions/32890702/request-runtime-permissions-from-v4-fragment-and-have-callback-go-to-fragment

[2015-11-20 08:29] Shusshu commented on #42
Nothing... it doesn't do anything....

[2015-11-20 08:33] hotchemi commented on #42
@Shusshu Sorry what u mean?

[2015-11-20 09:19] Shusshu commented on #42
There are no errors and nothing else happens

[2015-11-20 09:33] hotchemi commented on #42
Hey, I can't understand what happened.
Please explain what 'DeniedPermission does not work' actually means.

[2015-11-20 13:35] aurae commented on #42
Could you please share a code excerpt with the annotated @NeedsPermission and @DeniedPermission methods, your Fragment's `onRequestPermissionsResult()` implementation, and the call to the respective generated method?

[2015-11-20 15:17] Shusshu commented on #42
Here is some code

    //User event
	@Override
	public void onClick(View v) {
		MyFragmentPermissionsDispatcher.pickContactsWithCheck(MyFragment.this);
	}

	@NeedsPermission(Manifest.permission.READ_CONTACTS)
    void pickContacts() {
        // pick contact using contact api
    }

    @DeniedPermission(Manifest.permission.READ_CONTACTS)
    void deniedActionForContacts() {
        // launch inte

[2015-11-20 16:55] aurae commented on #42
This very code works perfectly for me. Are you verifying that `onClick()` is actually called? What version of the library are you using? Could you share the source of the generated `MyFragmentPermissionsDispatcher` class?

[2015-11-24 05:01] lovelyelfpop opened #43 "Can cordova/phonegap plugins use this?"
Can cordova/phonegap plugins use this?

[2015-11-24 05:36] lovelyelfpop opened #44 "What is the problem?"
![qq 20151124133528](https://cloud.githubusercontent.com/assets/5656924/11358708/46b202f8-92b0-11e5-91e2-83e825522ff4.png)

[2015-11-24 06:17] hotchemi commented on #44
Did u add jcenter as repository?
Please see https://github.com/hotchemi/PermissionsDispatcher/blob/ver1.x/build.gradle#L15.

[2015-11-24 06:18] #44 closed

[2015-11-24 06:20] hotchemi commented on #43
Not sure but this plugin uses annotation processing and generates java code. So it seems impossible...

[2015-11-24 06:20] #43 closed

[2015-11-24 06:26] hotchemi commented on #42
@Shusshu Please check the generated code again. If anything is wrong, please reopen this issue.

[2015-11-24 06:26] #42 closed

[2015-11-24 07:00] lovelyelfpop commented on #43
@hotchemi I think it is possible. corodva plugins(android) are written in java and the "CordovaPlugin" class is just like "Activity".
But I don't know how to do it, I am not really good at android development.
![qq 20151124145223](https://cloud.githubusercontent.com/assets/5656924/11359871/fd38e38e-92ba-11e5-945f-0f030135805d.png)

[2015-11-24 07:04] lovelyelfpop commented on #43
![123](https://cloud.githubusercontent.com/assets/5656924/11360075/5ac205a2-92bc-11e5-85ca-34c4bc2619c4.png)

[CordovaPlugin.java.txt](https://github.com/hotchemi/PermissionsDispatcher/files/42439/CordovaPlugin.java.txt)

[2015-11-24 07:38] hotchemi commented on #43
Could u try it? If something is wrong, please ping me.
And if your app doesn't use Activity-extended class, you can't use this library.

[2015-11-24 09:21] aurae commented on #43
Judging from the screenshots you provided, PermissionsDispatcher is most likely incompatible with Cordova at this point, even beside the fact that we don't know if it even supports annotation processing using the apt. It would require the generated code to pick up on the Cordova environment and generate something based on that.

[2015-11-26 03:22] #36 closed

[2015-11-26 05:47] hotchemi opened #45 "Support PERMISSION_DENIED_APP_OP"
When the app's compileSdkVersion is under 23, onRequestPermissionResult always return GRANTED by default.
So we should modify to check with PermissionChecker.checkSelfPermissions in onRequestPermissionResult when compileSdkVersion < 23.

[2015-11-26 05:48] #31 closed

[2015-11-26 06:55] aurae commented on #39
This is now released as version 2.0.0. Check out the wiki for a quick migration guide!

[2015-11-26 06:55] #39 closed

[2015-11-26 09:42] wjwarren opened #46 "Processor throws IllegalArgumentException"
Using version 2.0.0, I am getting the following error from the processor.

[code]

When I force version 1.2.1 everything works fine.

I am not sure how to debug this, so if you need any more information, I am happy to provide it for you.

[2015-11-26 10:10] aurae commented on #46
The stack trace suggests that this error has been thrown because the processor couldn't verify an element annotated with `@RuntimePermissions`... which is odd, since it describes the wrong type with '()void'.

`JavacTypes#isSubtypeOf` throws an `IllegalArgumentException` if any of its two `TypeMirror` parameters are of type `EXECUTABLE` or `PACKAGE`:
[code]

`EXECUTABLE` basically refers to method

[2015-11-26 10:16] wjwarren commented on #46
Yes.

When I have a little more time, I'll see if I can upgrade to Java 8 without causing any issues in my project.

Thanks!

[2015-11-26 10:17] aurae commented on #46
Actually, it was a mistake compiling the library with Java 8 in the first place! I will verify that this is actually the cause of this issue and re-upload a JDK 7-compiled build.

[2015-11-26 10:30] aurae commented on #46
Okay, I have just created a vanilla project using a JDK 7 installation, and I'm able to pull in the library and process my annotated `Activity` and both flavors of `Fragment` just fine.

Could you list the classes you annotated with `@RuntimePermissions` in your project, and check if there are native Fragments (i.e. `android.app.Fragment` as opposed to the `support.v4` variant) among them? How are

[2015-11-26 10:56] hotchemi commented on #46
Yup and we should report adequate message.

[2015-11-26 10:58] wjwarren commented on #46
All classes annotated with `@RuntimePermissions` either extend `android.support.v4.app.Fragment` or `android.support.v7.app.AppCompatActivity`.

The dependency is defined as recommended from the readme.

Other annotation processors I use are Dagger (1.2.1) and Butterknife (3.0.0).

A better error message would be nice yeah :wink:

[2015-11-26 11:04] hotchemi commented on #46
Umm it seems that we have a bug but...
@wjwarren Do u need a 2.0.0 soon? Actually 2 ver is still beta and 1.2.x is stable release.

[2015-11-26 11:33] aurae commented on #46
It's most likely unrelated to the issue, but: Any reason for ButterKnife 3.0.0? Last time I checked, it's at 7.0.1 at the moment!

The problem I have with this exception is that I don't know why the `Element` argument passed into `findAndValidateProcessorUnit()` should be resolved to '()void'. Its usage is as follows:

[code]

In this block, `it` resolves to an Element annotated with `@RuntimePerm

[2015-11-26 11:56] wjwarren commented on #46
Thanks for the fast feedback again! I don't *need* 2.0.0 soon, but that is what Gradle gives me if I use `+` for the version in the dependency declaration. I am fine to keep using 1.2.1 for now.

As for Butterknife, I honestly don't remember why I am stuck on 3.0.0. Could be that some other dependency had a problem with a newer version. Must have completely forgotten to try and upgrade again, but

[2015-11-26 18:13] Maxxan commented on #38
I guess this was not added to version 2.0.0?

[2015-11-26 20:39] aurae commented on #38
Unfortunately, it wasn't added to 2.0.0, no. And I'm not sure how this could be done given the behaviour of the library. I have done some experiments using our new PermissionRequest interface, which could potentially be used to store parameters passed in to an permission-protected method, however I don't see any way to easily identify those Requests in onRequestPermissionResult(), and call back th

[2015-11-26 23:07] hotchemi commented on #46
Just realized travis ci failed.

[2015-11-26 23:21] Maxxan commented on #38
Can't you just add it as a member or weak reference (depending on type) in the generated dispatcher class and then pass the parameter to the original function that had the parameter? Not super elegant, but should work..
The "funcWithCheck" function you can just pass the parameter to "func" and save it to a member variable and in onRequestPermissionsresult it passes the saved member variable to "fu

[2015-11-27 06:09] hotchemi commented on #45
Just lough idea. Not exact.
[code]

[2015-11-27 06:50] aurae commented on #38
I have thought about temporary storage in the generated class as well. I will do a proof-of-concept shortly and present the results for discussion!

[2015-11-27 07:17] aurae commented on #45
Does there need to be a distinction between PERMISSION_DENIED and PERMISSION_DENIED_APP_OPS? At the moment, PermissionUtils checks if a permission result is "!= GRANTED", is that not enough? What does the APP_OPS constant even do? The docs don't really help.

[2015-11-27 07:30] hotchemi commented on #45
@aurae Sorry I fixed the diff. It's enough.
And when it comes to APP_OPS, yup this is not on the android developers...

When:
- App's targetSdkVersion is under 23 and device os is 6.0
If:
- User revoke the permission from setting `grantResults` always return
Then:
- PermissionChecker.checkSelfPermission returns APP_OPS
- `grantResults` of onRequestPermissionsResult is always "GRANTED"

So we have

[2015-11-27 07:33] aurae commented on #45
Ohh I see! In that case, I would suggest not altering the generated code, but adding those specifications to `PermissionUtils`.

[2015-11-27 07:42] hotchemi commented on #45
I found the problem from this [article](http://blog.riskfinder.co.jp/2015/11/checkselfpermission.html) but this is Japanese...
I guess this requirements is a bug so gonna report to b.android.com :)

[2015-11-28 10:59] hotchemi opened #48 "Support "never ask again""
We can check the user has checked "never ask again" or not by the following code.

[code]

And in these case, we should lead the user to system setting activity to grant the permission.

[code]

[2015-11-29 09:21] aurae commented on #48
This could be handled by adding a new annotation for callbacks in the "Never ask again" case. Something like `@OnNeverAskAgain` maybe? I would like to have another callback for this rather than dictate the redirection to the system settings ourselves. This way, the users can decide how to handle this case on their own.

[2015-11-29 10:39] #18 closed

[2015-11-29 10:41] aurae commented on #18
The need to specify mehods with unique `@NeedsPermission` signatures will be lifted in the next release. `@OnShowRationale` and `@OnPermissionDenied` callbacks still need to be unique, with the processor throwing `DuplicatedValueException`s if multiple methods are annotated with the same permission signature, but as for the "using" side, you will be able to annotate multiple methods with the same

[2015-11-29 10:45] aurae commented on #41
It would be easy to plug in a new `ProcessorUnit` implementation for `android.app.Service` classes into the processor. The main question here relates to the problem of showing a system UI dialog (or a rationale, fwiw) in a context which shouldn't have a presentable UI, such as a dialog. How should we go about this?

[2015-11-29 16:29] hotchemi commented on #46
@wjwarren Have you tried to update butterknife to 8.0.0-SNAPSHOT?
Older version of butterknife includes annotation processing module at runtime jar, so it might cause unexpected problem with other annotation processing, I guess.

[2015-11-29 16:54] #38 closed

[2015-11-29 16:55] aurae commented on #38
Support for `@NeedsPermission` methods with parameters has been implemented and will be available in the next release.

[2015-11-30 01:20] hotchemi commented on #41
Sorry, I'm gonna close this issue because I think it's out side scope of this library.
Yes, we can show notification and launch activity to show dialog to grant permission, but developer can do it with current version.
If some issue would be reported, we should reconsider about it!

[2015-11-30 01:20] #41 closed

[2015-11-30 03:24] hotchemi commented on #48
Nice interface :+1:

[2015-11-30 03:43] hotchemi opened #49 "Update sample app and doc"
Actually I ported codes from google official sample but it's a little bit complicated to understand.
- Delete fragment
- Rich shouldShowRationale implementation
- never ask again handling
- WRITE_SETTINGS and SYSTEM_ALERT_WINDOW example

[2015-11-30 11:43] wjwarren commented on #46
I did try, but unfortunately ran into some issues with that. I don't have too much time to spend on that at the moment as I am swamped with other tasks.

[2015-11-30 14:13] aurae commented on #46
Fwiw, I have been using PermissionsDispatcher together with Butterknife and Dagger for a long time, and the new version didn't cause any issues with those annotation processors. Still baffled at what causes this issue for you, wjwarren.

[2015-11-30 14:14] hotchemi commented on #46
@wjwarren Could u give us a sample app?

[2015-11-30 15:53] wjwarren commented on #46
I just realised that the butterknife issues are at runtime only, so no problem testing this library with the latest butterknife version. Unfortunately I do still get the same error.

I wish I had time to dive deep into this, see what the culprit is and create a sample app, but unfortunately I don't. When things quiet down for me a little I will try and create a sample app for you.

[2015-11-30 19:03] aurae commented on #46
Awesome! In the meantime, we will try to reproduce the issue some more.

[2015-12-01 01:46] hotchemi commented on #46
OK, so I'll close this issue temporarily and please reopen something is wrong.

[2015-12-01 01:46] #46 closed

[2015-12-01 05:42] hotchemi commented on #48
It would be nice to add the following method to `PermissionUtils` :-)

[code]

[2015-12-01 05:49] hotchemi commented on #45
I'm gonna implement this feature!

[2015-12-01 05:51] hotchemi opened #50 "SYSTEM_ALERT_WINDOW and WRITE_SETTINGS support"
From Android Developers,

[code]

[2015-12-01 06:07] aurae commented on #48
You mean, as a utility function for our library's users that want to redirect to the app settings directly? Sure thing!

[2015-12-01 06:18] hotchemi commented on #48
Yup it's not necessary stuff but might be helpful :-)

[2015-12-01 06:19] hotchemi commented on #50
[code]

[2015-12-03 02:43] robinstark opened #51 "READ_EXTERNAL_STORAGE broken on API 15 device"
This will also apply to other permissions that were only introduced in newer Android versions than the app is running on.

A method in my app requires READ_EXTERNAL_STORAGE permission, but this permission was only introduced in API 16. When running the generated ...WithCheck() method on an API 15 device, PermissionsUtils.hasSelfPermissions will never return true (since the READ_EXTERNAL_STORAGE pe

[2015-12-03 08:51] aurae commented on #51
This behaviour occurs because of an architectural decision in the Android framework, where non-existent permissions are never granted by design. I see the point about performing conditional checks on certain permissions that were added later in the Android lifecycle. This would most likely be enforceable in `PermissionsUtils` using a static mapping of those permissions to their minimum SDK level.

[2015-12-03 19:58] robinstark commented on #51
Awesome, thanks. I'll look forward to 2.0.1. My workaround feels like a bit too much of a blunt instrument, applying checks specifically to the permissions and devices that need them is a much better idea.

[2015-12-03 20:29] aurae commented on #48
This has been implemented and will be deployed with the next release.

[2015-12-03 20:29] #48 closed

[2015-12-03 21:18] aurae commented on #51
This is what my sketch looks like at the moment:

[code]

I think that this should solve your issue. It basically lets `hasSelfPermissions` pass every check to a permission that was added in a later SDK version on devices below that minimum requirement. I'm not too sure about the copy-pasted values from `Manifest.permission`, however I don't think we can reference those directly here since, you kn

[2015-12-07 07:57] chond opened #52 "About The Permission Request 2.x enhancement"
Agreed to request, the current interface to perform lifecycle, why?

Background close permissions as well

[2015-12-07 09:34] OAbdan opened #53 "trying to compile permissionsdispatcher-processor:2.0.1"
Error:Could not GET 'https://jitpack.io/com/github/hotchemi/permissionsdispatcher-processor/2.0.1/permissionsdispatcher-processor-2.0.1.pom'. Received status code 401 from server: Repository not found or unauthorized

[2015-12-07 12:53] abry00 commented on #18
Hallo thanks for your work, I need this functionality as well, may I ask when next release will actually be released?

[2015-12-07 14:10] hotchemi commented on #18
@abry00 Oh sorry it's already released at 2.0.1.

[2015-12-07 14:34] abry00 commented on #18
that is great, but How to add it to the android studio? If I change 2.0.0 (that works with no problems) in build.gradle to 2.0.1 then I get this:

Error:Could not find com.github.hotchemi:permissionsdispatcher-processor:2.0.1.
Searched in the following locations:
    https://jcenter.bintray.com/com/github/hotchemi/permissionsdispatcher-processor/2.0.1/permissionsdispatcher-processor-2.0.1.pom

[2015-12-08 06:45] hotchemi commented on #53
Sorry I just published to jcenter.

[2015-12-08 06:45] #53 closed

[2015-12-08 19:43] sibeliusseraphini opened #54 "Add coverage status"

[2015-12-08 19:54] robinstark commented on #51
Looks good, thanks very much.

About the constants - my API 15 device got the right value for `READ_EXTERNAL_STORAGE` even though it didn't know what to do with it, so I suspect they'd be fine to use so long as PD is always being compiled with the latest SDK (to cover permissions added in future API levels). If someone wants to use a new permission introduced in a future SDK, they'll be using that

[2015-12-09 03:01] hotchemi commented on #54
What you mean? Like coveralls?

[2015-12-09 03:02] hotchemi commented on #54
We would welcome a PR but no plan to do that.

[2015-12-09 03:02] #54 closed

[2015-12-09 03:03] hotchemi commented on #52
@chond Sorry what u mean?

[2015-12-09 17:20] sibeliusseraphini opened #56 "[question] remove delegate permission dispatcher"
I wonder whether it is possible to remove the delegate pattern used in this lib, and make even easier to handle permissions

[2015-12-09 17:33] aurae commented on #56
What would you suggest instead?

[2015-12-09 18:14] sibeliusseraphini commented on #56
When we call a method annotated @NeedsPermission, it should call MainActivityPermissionsDispatcher.methodWithCheck(this) instead.

But I don't know whether it is easy or possible to code this

[2015-12-09 19:34] aurae commented on #56
I'm afraid that this isn't really possible, since that would require byte code manipulation of method invocations, which is beyond the scope of both us and the library. However, now that I think about it, we may look into creating custom lint rules for the library, so that your IDE shows a warning when you're calling an annotated method directly, potentially with a quick fix to change the code to

[2015-12-09 21:04] sibeliusseraphini opened #57 "@OnPermissionDenied and @OnNeverAskAgain not working properly"
When I try to use @OnPermisionDenied like this:

[code]

It doesn't generate the correct code, and not even reference my method from PermissionDispatcher.
The behavior that I expected is to call showDeniedMessage for any of these permissions.

The same happens for @OnNeverAskAgain

I will try to work on this tomorrow

[2015-12-10 01:35] hotchemi commented on #57
No, specification of the library is not such.
@OnPermissionDenied is called when request of @NeedsPermission which has same string array as arguments is denied.

[2015-12-10 01:35] #57 closed

[2015-12-10 01:37] #52 closed

[2015-12-10 01:39] hotchemi commented on #56
I don't like this idea.
We can do that when we manipulate byte code but why we have to do that?
The purpose of annotation processing is to delegate the work to generated class.

[2015-12-10 01:39] #56 closed

[2015-12-10 02:51] chond opened #58 "Request Permission About Dialog"
if  we request two permission at the same time ,we agree one deny the other one , the  next  time , we   request  permission ,Should we only request  the last time we deny this permission , but not all , how do you  think ?

[2015-12-10 05:58] aurae commented on #56
I do think that preventing users from accidentally calling permission-protected code directly should be something we need to consider. Using Lint to raise warnings (or even errors) when people bypass the "delegate call chain" should be on our radar.

[2015-12-10 06:00] aurae commented on #57
Yeah, as @hotchemi said, your example would trigger these callbacks for a permission request that asks for ALL of these permissions at once. It would be ambiguous to the code generator if it were an "any-of" relationship, since there would be cases where it didn't know which callback to connect to the @NeedsPermission call.

[2015-12-10 06:27] aurae opened #59 "Add embedded lint checks to prevent direct access to permission-protected methods"
This enhancement is derived from #56, in which the OP asked for a more convenient way to use PermissionDispatcher's delegate pattern. In my opinion, it would make sense to embed custom lint checks that prevent users from directly invoking methods annotated with `@NeedsPermission`. Furthermore, another check would raise a warning (preferably an error) if the call to the delegate object's `onRequest

[2015-12-10 06:27] aurae commented on #56
This discussion will be moved to #59.

[2015-12-10 06:45] hotchemi commented on #59
Seems nice!

[2015-12-10 11:25] sibeliusseraphini commented on #56
@aurae thanks

[2015-12-10 11:27] sibeliusseraphini commented on #57
We can have another annotation for this case or another parameter that will determine the behavior of the code generator

[2015-12-10 12:07] hotchemi commented on #57
@sibeliusseraphini We have no plan to do that. Why do you need it?

[2015-12-10 12:23] sibeliusseraphini commented on #57
My use case is this:

My app will only work if the user enable all 3 permissions that my app needs.
When the permission is denied the app will show the same message to the user explaining the these permissions are really required, and when user type check never ask again the app will ask the user to go to the Settings to enable the permissions for the app

We could have a default method for OnPerm

[2015-12-10 13:20] aurae commented on #57
In this case, why don't you specify a `@NeedsPermission` method that requires all of the permissions you need, and then mirror this signature in your catch-all `@OnPermissionDenied` and `@OnNeverAskAgain` callbacks? This way, you can check for all permissions at the same time, and fall back to a single callback in case of denial.

[2015-12-10 14:01] sibeliusseraphini commented on #57
@aurae thank, I will try that

[2015-12-10 15:52] sibeliusseraphini commented on #51
@aurae I've tested your code in some older devices and it is working

[2015-12-10 18:02] Rainer-Lang opened #61 "Possibility to ask for several permissions in a chain?"

[2015-12-10 18:52] aurae commented on #61
If you specify multiple permissions inside the annotations provided by PermissionsDispatcher, the underlying framework will ask the user for approval on each of them consecutively. Is this what you're referring to?

[2015-12-10 18:56] aurae commented on #58
IIRC, the framework keeps track of the granted permissions inside of a multi-permission request. That is, if you have a method annotated with `@NeedsPermission({Manifest.permission.CAMERA, Manifest.permission.WRITE_EXTERNAL_STORAGE})`, and the user grants access to the camera, but **not** the external storage, the framework will keep the camera permission as granted internally. The next time the m

[2015-12-10 22:44] Rainer-Lang commented on #61
And I will get different rationale before each of the permission dialogs? Would be great. :-)
How about the sequence of the dialogs?

[2015-12-11 03:27] chond commented on #58
yeah ,you are right,but if next time request,about dialog,we can do ,We only show the last rejected this permissions, but agree the permissions is not display , this is better?

[2015-12-11 03:28] hotchemi commented on #61
No, the specification is here.
https://github.com/hotchemi/PermissionsDispatcher/issues/57#issuecomment-163458466

[2015-12-11 03:29] #61 closed

[2015-12-11 05:49] hotchemi commented on #18
@abry00 Try again, sorry!

[2015-12-11 05:52] hotchemi commented on #58
@chond Isn't it current specification? Have you tested on your app?

[2015-12-11 06:16] chond commented on #58
@hotchemi   yes, of course, but did not get what I want  results

@NeedsPermission({Manifest.permission.CAMERA, Manifest.permission.WRITE_EXTERNAL_STORAGE})
void showCameraAndFile() {
        Intent intent = new Intent(this, PhotoSelectActivity.class);
        startActivityForResult(intent, RQCODE_PHOTO_SELECT);
}

@OnShowRationale({Manifest.permission.CAMERA, Manifest.permission.WRITE_EXTERNAL_ST

[2015-12-11 06:22] aurae commented on #61
I see. If you'd like to show the system permission dialog and the corresponding rationales alternately, then this would only be possible by requesting those permissions one by one and proceeding the chain in each `@NeedsPermission` method itself.

[2015-12-11 06:25] aurae commented on #58
The behaviour I described is referring to the implementation of runtime permissions in the Android platform, which is out of scope for this library. Until there is more customizability for how apps show the system dialogs for multi-permission requests (i.e. so that you could specify "either accept all, or deny all"), there's nothing that can be done about the behaviour that PermissionsDispatcher i

[2015-12-11 08:06] #58 closed

[2015-12-11 08:06] hotchemi commented on #58
Thanks for your report.

[2015-12-11 14:08] Rainer-Lang commented on #61
@aurae Thanks. I will try it.

[2015-12-14 15:40] #51 closed

[2015-12-22 09:43] hmedat2008 opened #62 "PermissionsDispatcher Class"
Why all methods in ActivityPermissionsDispatcher not public method?

Can you make it public methods

[2015-12-22 10:40] aurae commented on #62
The code generated by PermissionsDispatcher always resides in the same package that the annotated Activity/Fragment classes live in, which is why those classes are able to use the non-public `static` methods from the generated code. We chose to reduce visibility of these methods as much as possible to prevent abuse and highlight the tight connection that an annotated class has to its generated cou

[2015-12-22 12:40] hmedat2008 commented on #62
I agreed with you, but I have another  implementation before using PermissionsDispatcher methods, So I need to put all my code in single class,

So I need from you to give me an option to set modifier (public,default,protracted) of those methods,

[2015-12-22 13:15] aurae commented on #62
Can you go into a little detail on the implementation you're referring to? I'd like to get a better understanding about how it would be beneficial to add something like this to the library.

[2015-12-22 13:39] hmedat2008 commented on #62
I have Class name DialogHelper, I put all my implementations inside it,
My Implementation, to add another dialog before show native permission dialog like this

class DialogHelper{
  public static void showSmsForRegisterPage(final RegisterFragment fragment) {
        Permission permission = Permission.READ_SMS;
        if (PermissionDialogUtil.hasPermission(fragment, permission)) {
            fra

[2015-12-22 13:40] hotchemi commented on #62
We have no plan to do that.
We constrain generated codes to being called only annotated class itself.
IMO, in your case you should modify application codes to being them more loose coupling.

[2015-12-22 13:40] #62 closed

[2015-12-22 13:58] hmedat2008 commented on #62
I know your library do 1 2 3 4, but I need to give ability to change modifiers of methods,

Thant all My needs

[2015-12-22 14:34] hmedat2008 opened #63 "Duplicated value exception"
I have these functions:
     @NeedsPermission({Manifest.permission.CAMERA,Manifest.permission.WRITE_EXTERNAL_STORAGE})
    public void showCamera() {
    }
    @OnPermissionDenied({Manifest.permission.CAMERA,Manifest.permission.WRITE_EXTERNAL_STORAGE})
    void onShowCameraDenied() {
    }

    @OnNeverAskAgain({Manifest.permission.CAMERA,Manifest.permission.WRITE_EXTERNAL_STORAGE})
    void onSho

[2015-12-22 14:49] shiraji commented on #50
Is this issue trying to implement followings?

XXActivity.java

[code]

XXActivityPermissionsDispatcher.java

[code]

[2015-12-22 18:51] hmedat2008 commented on #63
@aurae

[2015-12-22 20:19] aurae commented on #63
I can verify that the duplicate detection is off for the code you provided, which should be working, but isn't.

[2015-12-22 20:20] hmedat2008 commented on #63
So?

[2015-12-22 20:21] aurae commented on #63
So, we will be resolving the issue in an upcoming release.

[2015-12-22 20:36] hmedat2008 commented on #63
So Thank you :)

[2015-12-22 20:39] #63 closed

[2015-12-22 20:40] aurae commented on #63
83b0a35 fixes this, so that this problem will be resolved in the next release.

[2015-12-22 20:50] hmedat2008 commented on #63
Can you give me the release time?

[2015-12-22 22:26] aurae commented on #63
@hotchemi Could you prepare an artifact for `2.0.2`?

[2015-12-23 20:02] hotchemi commented on #63
@aurae I think the test fails...

[2015-12-23 21:55] aurae commented on #63
The test suite passes in its entirety on my machine (using `gradle cleanTest test testV13 --tests *`). What error are you getting?

[2015-12-24 05:00] hotchemi commented on #63
[code]

[2015-12-24 05:02] hotchemi commented on #63
Sorry, I've not dived into detail yet.

[2015-12-24 09:23] aurae commented on #63
The failing test cases are related to another issue with the Copy task that prepares the library's sources for the processor's test suite. I'm opening a new issue on this.

[2015-12-24 09:26] aurae opened #64 "Include Build.VERSION_CODES into library-sources.jar"
At the moment, test cases are failing because of a missing link inside the JAR file which is generated for the processor's test suite:

[code]

This is related to the recent addition of SDK-level-dependent auto-granting of permissions on devices older than the permission itself. We should either remove the dependency on these constants (and replace them with their actual values), or bundle `Build.

[2015-12-25 01:54] hotchemi commented on #50
@shiraji Sorry for the late.
Yes, I'd like to get the best interface and your proposal seems nice.

[2015-12-25 02:31] shiraji commented on #50
Thanks for reviewing! Would you mind if I implement this issue?

I think the hardest part is `showSystemAlertWindowWithCheck`. Currently, `ActivityProcessorUnit` does not check which annotation is handled in `addWithCheckBody`.

My current idea is creating 2 helpers that generate `xxWithCheckBody` and ActivityProcessorUnit use these helpers.

What do you think?

---

It is totally out of topic but

[2015-12-25 03:30] hotchemi commented on #50
Ah sorry we've not released yet..revered it. Thx!

[2015-12-25 03:32] hotchemi commented on #50
And when it comes to impl, your interface looks good.

[2015-12-25 03:32] hotchemi commented on #50
I assigned you for this issue :-)

[2015-12-25 06:31] shiraji commented on #50
One question about this issue. Do I have to handle this feature for Fragment?

[2015-12-25 21:12] hotchemi commented on #50
Do you mean this feature supports Activity and Fragment? Yes.

[2015-12-26 14:23] shiraji commented on #50
OK, I will do that as well. I was concerned about the nested fragments. They won't get call `onActivityResult`. See [StackOverFlow thread](http://stackoverflow.com/questions/13580075/onactivityresult-not-called-in-new-nested-fragment-api).

[2015-12-27 22:12] hmedat2008 commented on #63
Any updates?

[2015-12-31 20:14] hotchemi commented on #50
@shiraji Ah I didn't know that. IMO we must not nest fragments...:D

[2015-12-31 21:43] hotchemi opened #66 "[Discuss] Move to Java8 from Kotlin"
I'm definitely not sure this movement is good for product...so I'd like to discuss about it.

Yes, Kotlin is the nice language. But when it comes to the performance, it's still less faster than Java8.
I've not verify at all but I saw one blog post which tastes the performance of each JVM languages.

![image](https://cloud.githubusercontent.com/assets/471318/12068467/4382625c-b052-11e5-82b3-8061d30

[2016-01-03 06:11] shiraji commented on #66
Could you give us the URL for the blog post? You are talking about compile time performance, right?

[2016-01-03 15:53] hmedat2008 commented on #64
Any updates?

[2016-01-03 21:29] hotchemi commented on #66
Sorry, that's my mistake.
Yes, it's just the compile time problem and there is no difference(I wish) in runtime performance.

[2016-01-03 21:29] #66 closed

[2016-01-03 21:39] hotchemi commented on #64
Well, is this permission needed to be tested...? I'm not sure but the dialog doesn't show on watch device right?

[2016-01-04 08:45] aurae commented on #64
The output above was just an example of one missing version code reference, it is the same for the others. Because we have switched to SDK-level dependent permission checks, those constants need to be accounted for when testing, or else the unit test environment can't find them (which causes all those tests relying on that code to fail).

[2016-01-04 12:34] Kevin-Stark opened #67 "can't find MainActivityPermissionsDispatcher"
Hi,I was wondering how can I find the class "MainActivityPermissionsDispatcher",thanks.

[2016-01-04 13:48] hotchemi commented on #67
Have you tried rebuilding the project? The code is generated by annotation processor.

[2016-01-04 16:49] aurae commented on #67
If you want to look at the source code generated by PermissionsDispatcher, you can either Ctrl+Click (Windows) or Cmd+Click (Mac OS X) on `MainActivityPermissionsDispatcher` in your code to go to its source file, or look for it in your app module's `build` folder (`build/generated/source/apt`).

[2016-01-04 20:33] #67 closed

[2016-01-04 22:04] hotchemi commented on #66
But I think there is no need to be kotlin...

[2016-01-04 23:07] shiraji commented on #66
Choose language whatever you want.  But, before you try to work on that, could you merge or review [my pull request](https://github.com/hotchemi/PermissionsDispatcher/pull/65)? I removed a lot of duplicated code. It will help you rewriting code.

[2016-01-05 06:41] Kevin-Stark commented on #67
it's my environment‘s problem,thanks again

[2016-01-08 02:25] wlowe opened #68 "Incorrect handling of interrupted permissions flow"
It seems like this library should handle the case where the flow doesn't get a chance to complete.  As per the API docs, when this happens, ```onRequestPermissionsResult()``` is called with an empty list of permissions and grants.  This is to be treated as a cancel.

However ```PermissionUtils.verifyPermissions()``` interprets the empty grant list as valid (since there aren't any items with reject

[2016-01-08 09:21] aurae commented on #68
How would one cause the cancellation case to happen? Do I tap outside of the permission dialog in order to close it? Do I exit the app via the home button? The docs indeed point at the cancel case, so we should consider supporting it for sure. Do you have any more information on this?

[2016-01-08 09:59] aurae commented on #64
f41a38c8 removes `Build.VERSION_CODES` from `PermissionUtils`. Shintaro, could you check out the latest master & verify that the test suites are passing with the latest `library-sources.jar`?

[2016-01-08 10:52] hotchemi commented on #68
I guess it never happens because it doesn't make sense.right?
Which case should you put empty list to arguments?

[2016-01-09 00:32] wlowe commented on #68
We ran into this case because we're forced to ask for permissions in one of the initial screens of our app.  Backgrounding the app via the home button then re-entering causes ```onRquestionPermissionsResult()``` to be called with the empty lists for some reason.

[2016-01-11 08:44] androidyue opened #69 "Multiple Permission Request Issue"
Now I am using PermissionsDispatcher and write the following code
[code]
When you call the method `MainActivityPermissionsDispatcher.useDeviceIdWithCheck()`
This will request two permissions at once.  There are two permission in the dialog.  And then you grant the first and deny the second.

Once again you call the method `MainActivityPermissionsDispatcher.useDeviceIdWithCheck()` the two permissio

[2016-01-11 09:18] aurae commented on #69
While I do agree that it would make sense for the dialog to only request the permission the user didn't already grant, this is working as intended based on the implementation of runtime permissions in the Android platform. Until there is more customizability for how apps show system dialogs for multi-permission requests (i.e. so that you could specify "either accept all, or deny all"), there's not

[2016-01-11 09:18] #69 closed

[2016-01-12 20:59] hotchemi commented on #64
@hmedat2008 @aurae Just releases 2.0.2. Thanks!
https://github.com/hotchemi/PermissionsDispatcher/releases/tag/2.0.2

[2016-01-12 20:59] #64 closed

[2016-01-12 21:09] #50 closed

[2016-01-13 02:23] jagloro opened #70 "Readme lists unavailable version"
readme says version 2.0.2 when its not available via gradle

[2016-01-13 03:52] hotchemi commented on #70
Sorry, fixed it.

[2016-01-13 03:52] #70 closed

[2016-01-13 19:33] hmedat2008 commented on #64
Thank you so muck :) , Great library and great guys :D

[2016-01-14 09:39] aprofromindia opened #71 "Anomaly between speakerdeck slide and github docs"
There is a slight anomaly between the linked speakerdeck slides and the github doc on whether to call: -

super.onRequestPermissionsResult(requestCode, permissions, grantResults); in the public void onRequestPermissionsResult(int requestCode, String[] permissions, int[] grantResults) method.

A proper update could help a lot of people.

[2016-01-14 20:47] hotchemi commented on #71
@aprofromindia The slide is old so I deleted and updated the link. Thx.

[2016-01-14 20:47] #71 closed

[2016-01-15 09:11] shiraji commented on #59
Are you guys expect lInt check done by Kotlin?

[2016-01-15 11:22] aurae commented on #59
Personally, I'm indifferent to the language used to implement the lint checks, but I'd welcome a contribution written in Kotlin, for sure!

[2016-01-15 11:58] shiraji commented on #59
One issue of writing lint in Kotlin is I don't know how to include kotlin
runtime.jar in lint.jar.

2016年1月15日(金) 20:22 Marcel Schnelle <notifications@github.com>:

[2016-01-15 13:14] aurae commented on #59
That's true, I haven't looked into that as well, which is why I was interested in that. Java works just as well for this task, though, seeing as all references keep to using Java for custom lint rules. So in case you are interested in implementing this, Java works just fine :+1:

[2016-01-15 13:16] shiraji commented on #59
OK, I will do this then in Java. I don't think this lint will be huge. We will be able to rewrite this in Kotlin if we find a way to include kotlin runtime in lint.jar.

[2016-01-15 13:18] aurae commented on #59
True. Thank you for the offer!

[2016-01-17 20:33] hotchemi commented on #59
Btw, can it be bundled with artifact?

[2016-01-17 21:23] hotchemi commented on #45
Closed by #72 .

[2016-01-17 21:23] #45 closed

[2016-01-17 21:43] shiraji commented on #59
Not sure how, yet but according to [this documentation](http://tools.android.com/tech-docs/new-build-system/aar-format), aar is able to include lint.jar.

[2016-01-17 21:58] hotchemi opened #74 "Release problem."
[Release to jcenter](https://github.com/hotchemi/PermissionsDispatcher/wiki/Release-to-jcenter) sometimes fail to upload library module. And when we move to library dir and execute this script again, new library artifact is uploaded...

[2016-01-17 23:01] hotchemi commented on #59
ic.

[2016-01-17 23:12] shiraji commented on #59
Maybe, we could use [the idea from Timber](https://github.com/JakeWharton/timber/blob/master/timber/build.gradle#L45-L55).

[2016-01-18 04:03] shiraji commented on #74
It happens in my library in most time. I really hate this...In my case, I uploaded modules, separately. Like this.

[code]

[2016-01-18 07:47] aurae commented on #59
Timber would have been the primary source of guidance for me as well, let's follow that approach.

[2016-01-18 16:18] hotchemi commented on #74
Umm, it might be the bug of novoda/bintray-release.

[2016-01-18 16:26] hotchemi opened #76 "Test code refactoring"
Our test code has gotten massive and it's so hard to maintain.
So, we should separate expected String arrays to each Java file.

[2016-01-18 22:39] aurae commented on #76
Very true. Similar to my proposal to shiraji in his PR, we should use resource files to store test files containing source code.

[2016-01-20 06:21] john1jan opened #77 "duplicate entry: permissions/dispatcher/GrantableRequest.class"
I am getting this error when i build using gradle

Full stacktrace:
[code]

[2016-01-20 07:50] aurae commented on #77
Can you share the except of your build.gradle files where you include PermissionsDispatcher?

[2016-01-20 08:44] john1jan commented on #77
Sorry My bad, I declared permission-dispatcher wrongly. I was using 'compile' instead of apt like below

 compile 'com.github.hotchemi:permissionsdispatcher:2.0.3'
 compile  'com.github.hotchemi:permissionsdispatcher-processor:2.0.3'

instead of
 compile 'com.github.hotchemi:permissionsdispatcher:2.0.3'
 apt 'com.github.hotchemi:permissionsdispatcher-processor:2.0.3'

Changed to 'apt it worked fin

[2016-01-20 08:45] #77 closed

[2016-01-20 08:51] hotchemi commented on #77
@john1jan Alright, thanks for your adopting.

[2016-01-20 09:41] john1jan commented on #77
Thanks for developing this great library it makes life easier with Marshmallow.

[2016-01-20 14:38] emarc-m opened #78 "@OnNeverAskAgain not being called"
Annotating a method with @OnNeverAskAgain is not called. What is called is the method annotated with @OnPermissionDenied.

I think the generated code conditions checks are incorrect.

[code]

Thanks. Great work BTW.

[2016-01-21 01:32] hotchemi commented on #78
@emarc-m Ah, could u use 2.0.2 for the time being? It might works well. So sorry!

[2016-01-21 01:34] emarc-m commented on #78
@hotchemi Thanks for that info.

[2016-01-21 01:41] shiraji commented on #78
It's time to add functional tests.

[2016-01-21 03:19] hotchemi commented on #78
Right code is bellow.

[code]

[2016-01-21 03:24] hotchemi commented on #78
@shiraji Might be the good idea but it takes a bunch of costs...worrisome problem.

[2016-01-21 07:33] shiraji commented on #78
Wait, I think there is one more problem. PermissionDispatcher must take care of SYSTEM_ALERT_WINDOW and WRITE_SETTINGS.

This [test case](https://github.com/hotchemi/PermissionsDispatcher/blob/master/processor/src/test/java/permissions/dispatcher/processor/data/Source.java#L5171) is not correct. Should be following:

[code]

This [line](https://github.com/hotchemi/PermissionsDispatcher/pull/72/fil

[2016-01-21 08:08] hotchemi commented on #78
@shiraji Umm, actually this line is just workaround for under M devices. See https://github.com/hotchemi/PermissionsDispatcher/issues/45#issuecomment-160058769 .

I'm not sure the same thing happens in SYSTEM_ALERT_WINDOW and WRITE_SETTINGS.
So, we should delete this line when exceptional permissions case.

Sure!

[2016-01-21 08:15] shiraji commented on #78
That makes life easier!

[2016-01-21 09:32] a11n commented on #59
@shiraji do you know a way to check Kotlin code via lint? If so, **please tell me**, cause AFAIK there is no way hence there is no `KotlinScanner`available. (But this information may be deprecated)

This is one reason people hesitate to use Kotlin in enterprise projects, cause there's no Lint support. It would be a big milestone if you'll find a way!

[2016-01-21 09:53] hotchemi commented on #59
@a11n It might be better to discuss on [Kotlin Discussions](https://discuss.kotlinlang.org/).

[2016-01-21 10:01] shiraji commented on #59
check this https://youtrack.jetbrains.com/issue/KT-7729

[2016-01-21 10:26] hotchemi commented on #76
If u have any idea to simplify the test code much more, please write it as follows.

[2016-01-21 15:44] aurae commented on #76
I did a small proof-of-concept regarding a new structure for our test suite. You will see that it uses resource files which are grouped together by test case, categorized into "error" and "success".

Regarding the creation of the Test objects and reading in the `JavaFileObjects`, this new approach seems to be heavier than the previous one. However, by changing the tests to this schema, we can thin

[2016-01-21 20:07] hotchemi commented on #74
There is no solution and we have to work around with...

[2016-01-21 20:07] #74 closed

[2016-01-22 07:54] hotchemi commented on #49
Plus we should update document to show full usage of pms.

[2016-01-22 08:02] #78 closed

[2016-01-22 08:03] hotchemi commented on #78
@emarc-m Just released 2.0.4. Really appreciated for your report.

[2016-01-22 08:09] emarc-m commented on #78
@hotchemi Thanks for the support.

[2016-01-25 16:44] prashantwosti opened #82 "Unsupported major.minor version 52.0"
Since 2.0.4, I'm getting
[code]
rolled back to 2.0.3 and everything is fine.

[2016-01-26 01:26] hotchemi commented on #82
Could u give me a full stack trace?
I think it might be the problem of JDK version. Could u give me a output of `java -version`?

[2016-01-26 01:26] hotchemi commented on #82
@prashantwosti
Could u give me a full stack trace?
I think it might be the problem of JDK version. Could u give me a output of `java -version`?

[2016-01-27 13:23] ogapants commented on #82
Me too.
My JDK version was `1.7.0_79`, but succeeded after update to `1.8.0_66`.
It's my stack trace.
[code]

[2016-01-27 14:12] shiraji commented on #82
Are we able to remove these 2 lines?

https://github.com/hotchemi/PermissionsDispatcher/commit/7235d1c816d897befd31f88bd362bb41bd618ad5#diff-5382f29622a37ec83f27f1d848d143eaL6

[2016-01-27 19:35] hotchemi commented on #82
Yup, my recommend is using jdk 8 but we use Kotlin for processor so we can support older jdk.
I'm gonna release minor version update.

[2016-01-28 05:59] hotchemi commented on #82
@prashantwosti Do you need a fixed version? Or did u decided to update jdk version?

[2016-01-28 08:29] prashantwosti commented on #82
@hotchemi, A fixed version would be better.
Due to time limit, I had to downgrade to 2.0.3.

[2016-01-28 08:30] hotchemi commented on #82
@prashantwosti 2.0.3 has a but which @OnNeverAskAgain is never called, please use 2.0.2.
I'm gonna release 2.0.5 tonight in JST.

[2016-01-28 08:33] prashantwosti commented on #82
@hotchemi Oh. So I was going hit a brick while testing. Thanks. Will do accordingly.

[2016-01-29 06:32] hotchemi commented on #82
@prashantwosti Released 2.0.5. Thanks.

[2016-01-29 06:32] #82 closed

[2016-02-01 14:19] prashantwosti commented on #82
@hotchemi i just noticed that @OnNeverAskAgain is never called on 2.0.5?

[2016-02-01 14:44] shiraji commented on #82
@prashantwosti why don't we do this in different issue like #78? This was the issue for JDK1.8 not v2.0.5.

[2016-02-01 14:45] prashantwosti opened #87 "@OnNeverAskAgain is never called on 2.0.5"
i just noticed that @OnNeverAskAgain is never called on 2.0.5.

[2016-02-01 14:46] prashantwosti commented on #82
@shiraji created a new issue. sorry :)

[2016-02-01 14:48] shiraji commented on #82
No worry! Thanks for reporting this.

[2016-02-01 15:54] hotchemi commented on #87
@prashantwosti How did u test it? I just testes it on the sample module but it works...

`sample/build.gradle`
[code]

[2016-02-02 01:49] hotchemi commented on #87
Thoughts?

[2016-02-02 05:24] prashantwosti commented on #87
@hotchemi Sorry nevermind, I clean build my project and it is working now. Thanks

[2016-02-02 05:24] #87 closed

[2016-02-02 05:29] hotchemi commented on #87
OK, Thx for your report!

[2016-02-09 00:25] shiraji commented on #59
Meaning `@OnShowRationale` does not have matching `@NeedsPermission`?

[2016-02-09 07:05] aurae commented on #59
That's a good idea as well, but it isn't what I meant. I was referring to lint raising an error if you use a `@NeedsPermission` method inside a class, but do not call through to `YourClassPermissionsDispatcher.onRequestPermissionsResult()`. I'm not sure how this would be detectable, though.

[2016-02-09 07:41] shiraji commented on #59
OK, I got it.

The lint checks that there is a method call with `YourClassPermissionDispatcher.onRequestPermissionsResult(this, requestCode, grantResults);` in the class which has `@NeedsPermission` (or `@RuntimePermission`).

I think it is not that bad. There is a way to traverse all method call in lint check, AFAIK.

I will implement this one, too.

[2016-02-09 11:08] aurae commented on #59
Yes, as far as I remember the processor isn't handling this case itself, so it would be nice to have a lint warning raised for this case. Thank you!

[2016-02-09 11:09] aurae commented on #59
Didn't mean to close this, sorry!

[2016-02-11 13:31] swissonid opened #89 "Doesn't work with kotlin 1.0.0-rc-1036"
My App doesn't start any more. It can't find the ApplicationClass

[2016-02-11 15:15] hotchemi commented on #89
Sorry, could u give us more detail information?

[2016-02-11 16:05] mosberger commented on #89
In Kotlin Version 1.0.0-rc-1036, the annotation interface has changed and the method annotationType() does no longer exist.
We've tried to fix this with the when clause from kotlin, but this breaks the PERMISSIONS array in the generated PermissionsDispatcher file.
Here are the changed files:
- [Extensions.kt](https://github.com/swissonid/PermissionsDispatcher/blob/2b843edf92ca07f68fcff987a92ee6d59

[2016-02-11 16:47] aurae commented on #89
This library hasn't been verified against the latest Kotlin RC yet. The folks over at JetBrains have made significant changes to the way that Kotlin operates on several levels, including the bytecode level, which is why they are demanding that code using earlier builds of the language be recompiled. That may already fix your issue, however we have to make sure that the APIs used by the processor a

[2016-02-12 07:26] kenshin171 opened #90 "Asking for permission in onResume might cause infinite loop"
Hi, not exactly a bug, BUT i think this should be documented. Asking for permissions in onResume will cause an infinite loop when user ticks "never ask again" and denies the permission. After the user returns to the activity from the permissions dialog box onResume is called and it asks for permission again. It seems that onResume is always called after returning from a permission request check. B

[2016-02-12 07:31] hotchemi commented on #90
Interesting, I've never tested that case. We'll investigate about it and do documentation. Thx!

[2016-02-12 08:46] aurae commented on #90
Good catch!

[2016-02-14 16:10] hotchemi commented on #89
@swissonid Could u squash commits? After that I'm gonna merge it.

[2016-02-14 18:33] #89 closed

[2016-02-14 19:44] hotchemi commented on #68
[code]

[2016-02-17 07:51] a1018875550 opened #99 "Coulde you disply the update info when you update;"
If do is;It's very help to us  use this;Thank you very much

[2016-02-17 07:53] hotchemi commented on #99
What do you mean? Changelog?

[2016-02-17 07:53] hotchemi commented on #99
If so. Please check CHANGELOG.md.

[2016-02-17 07:54] a1018875550 commented on #99
thank you

[2016-02-17 07:54] #99 closed

[2016-02-18 16:33] shiraji commented on #59
Let me reopen for another lint check.

[2016-02-19 14:06] hotchemi commented on #68
@wlowe Any update?

[2016-02-19 14:06] hotchemi commented on #59
Cool!

[2016-02-19 14:07] hotchemi opened #101 "Nearby API support"
I've not dig into the detail but I heart that at the droidkaigi session.

[2016-02-19 16:46] hotchemi commented on #68
Please reopen if you still have the problem.

[2016-02-19 16:46] #68 closed

[2016-02-21 06:46] hotchemi commented on #101
Umm, ...close!

[2016-02-21 06:46] #101 closed

[2016-02-21 07:33] hotchemi commented on #90
I added this issue link to wiki. https://github.com/hotchemi/PermissionsDispatcher/wiki/Checklist
Thx for your report @kenshin171 !

[2016-02-21 07:33] #90 closed

[2016-02-21 07:43] hotchemi opened #103 "Not working with DataBinding"
The inclusion of the new version of Kotlin introduced a bug where there is some incompatibility with data binding (discussion of the issue in the official bug tracker).

https://youtrack.jetbrains.com/issue/KT-8007

[2016-02-21 07:44] hotchemi commented on #103
I hope JetBrains or Databinding team will fix it soon....

[2016-02-21 07:44] #103 closed

[2016-02-22 16:23] shiraji commented on #90
Another lint check? :smile:

[2016-02-23 01:30] hotchemi commented on #90
Lint master :heart_eyes:

[2016-02-23 13:53] viniciussoares opened #105 "Lint support causes clean to fail"
Tested on 2.0.6 and 2.0.7.

`Information:Gradle tasks [clean, :app:generateProductionReleaseSources, :app:compileProductionReleaseSources]
:app:clean FAILED
Error:Execution failed for task ':app:clean'.
Unable to delete file: S:\dev\test\app\build\intermediates\exploded-aar\com.github.hotchemi\permissionsdispatcher\2.0.7\jars\lint.jar`

[2016-02-23 13:55] hotchemi commented on #105
Thank you for your report!
@shiraji Any thoughts?

[2016-02-23 14:37] shiraji commented on #105
Not sure. Let me find out what's going on. Sorry for inconvenience.

[2016-02-23 14:58] shiraji commented on #105
OK, after I googled, I found [the same issue](https://github.com/JakeWharton/timber/issues/100) in Timber. According to the issue, this is a bug of AndroidStudio. Could you report to http://b.android.com ?

[2016-02-23 15:03] hotchemi commented on #105
Oh boy...

@viniciussoares could u continue the development on the IntelliJ?
@shiraji Thank you for your quick catch!

[2016-02-23 15:05] shiraji commented on #105
Actually, there is already report for this bug to http://b.android.com

https://code.google.com/p/android/issues/detail?id=190812

[2016-02-23 15:14] viniciussoares commented on #105
@shiraji I'll fill the bug report. ^_^

Downgrade to 2.0.5 fixed the problem.

Looking forward to contribute to this awesome project :)

[2016-02-24 01:40] hotchemi commented on #105
OK, we don't have a plan to remove lint check so keeping fingers crossed with google's quick fix.
Thanks for your report! I'll put this issue on a existing issue list.

[2016-02-24 01:40] #105 closed

[2016-02-28 13:48] hotchemi commented on #59
Done!

[2016-02-28 13:49] #59 closed

[2016-03-07 23:08] kassim opened #107 "java.lang.RuntimeException: Unknown exception code: 1 msg null"
Getting the following crash reported in an app I'm working on
[code]

I'm not sure what the cause is but looking at this issue reported in the Appboy SDK https://github.com/Appboy/appboy-android-sdk/issues/42 their solution was to wrap the call in a try/catch

Do you know what may be the cause?

[2016-03-08 05:43] shiraji commented on #107
Could you give us a minimum project that reproduces this issue?

[2016-03-08 09:02] aurae commented on #107
Are you experiencing this consistently on a particular device? What's the OS version on it? This issue is most definitely related to the support library's `PermissionChecker` class. We'll have to check the Android source in order to find the root of this. As you said, both Appboy and PayPal wrap their `checkSelfPermission` invocation in a try/catch and that's it, which seems to be fine, however I'

[2016-03-08 09:50] kassim commented on #107
I can't reproduce it locally unfortunately.
Lenovo A816 on 4.4.4 is the main device we're seeing it reported on, when retrieving Contacts permissions in my case.

[2016-03-08 10:41] aurae commented on #107
This is the offending implementation of `Parcel#readException`:

[code]

Since the default `EX_` constants are all negative and no suitable `case` exists for code 1, the `RuntimeException` is raised. I haven't found the meaning of this status code yet. For now I think that we should simply adjust to what everybody else does, assume the non-zero result to be an error trying to obtain the Permission

[2016-03-08 15:42] fdorssers opened #109 "compileDebugJavaWithJavac fails with WrongParametersException when using Kotlin"
I'm trying to use this Library in a Kotlin project, but I'm running into some issues when I try to build it. This is the error I'm getting:

[code]

This happens with Kotlin version 1.0.0, Android Studio 2.0 beta 6, Gradle version 2.0.0 beta 6 and JDK 1.8.0 update 65. No idea if it's the same with other versions.

These are the relevant lines from the gradle file:
[code]

And this is the activity:

[2016-03-08 16:14] hotchemi commented on #109
Thank you for your polite report.
I can reproduce the problem with your sample and this is definitely an unexpected behaviour.
We'll investigate the cause, and as a workaround, Could u use Java for this class for the time being?

[2016-03-08 16:17] hotchemi commented on #109
WrongParametersException is emitted on these two lines. But this is definitely unexpected....
We can debug with bundled sample module.

https://github.com/hotchemi/PermissionsDispatcher/blob/e709e184e14bbe2c7b7eed17141e8b7855e3e724/processor/src/main/kotlin/permissions/dispatcher/processor/util/Validators.kt#L100
https://github.com/hotchemi/PermissionsDispatcher/blob/e709e184e14bbe2c7b7eed17141e8b

[2016-03-08 17:10] hotchemi commented on #107
Closed by #108 .
@kassim Do you need new version soon?

[2016-03-09 01:59] #109 closed

[2016-03-09 02:00] hotchemi commented on #109
@fdorssers This bug will be fixed 2.0.8.

[2016-03-09 02:00] #107 closed

[2016-03-09 02:09] fdorssers commented on #109
Awesome, thanks! That was a quick fix. Do you happen to have an estimated date for when you'll release that version?

[2016-03-09 02:17] hotchemi commented on #109
Today!

[2016-03-09 03:29] hotchemi commented on #107
@kassim Just released 2.0.8 to jcenter.

[2016-03-09 03:29] hotchemi commented on #109
@fdorssers  Just released 2.0.8 to jcenter. Thx.

[2016-03-09 12:40] fdorssers opened #112 "compileDebugJavaWithJavac fails with NoAnnotatedMethodsException when using Kotlin"
It seems that the fix to issue #109 either introduced a new issue, or has only just made it possible to actually reach this problem.

[code]

This happens with Kotlin version 1.0.0, Android Studio 2.0 beta 6, Gradle version 2.0.0 beta 6 and JDK 1.8.0 update 65. No idea if it's the same with other versions.

These are the relevant lines from the gradle file (updated to 2.0.8):
[code]

And this is t

[2016-03-09 12:44] fdorssers commented on #109
Thanks for the quick fix and the release of the new version. I just tried to implement 2.0.8, but I'm running into a new problem and I created a new issue for that.

[2016-03-09 13:32] kassim commented on #107
Cheers guys, much appreciated.

[2016-03-09 16:36] hotchemi commented on #112
Umm wired...thx for your report.

[2016-03-09 16:37] hotchemi commented on #112
refs. https://github.com/hotchemi/PermissionsDispatcher/blob/e0dde623c415b666f3de6ee0b56daed52d2d4943/processor/src/main/kotlin/permissions/dispatcher/processor/util/Validators.kt#L56

[2016-03-09 20:43] shiraji commented on #112
I think the problem is kapt. Realm has the same issue with this. Check their issue. https://github.com/realm/realm-java/issues/509

So, for now, according to them, we need to change annotation's retention `@Retention(RetentionPolicy.CLASS)`.

I could not find good documentation for this issue except in Japanese blog post http://sys1yagi.hatenablog.com/entry/2016/02/02/130402 (Thanks @sys1yagi)

[2016-03-10 03:08] hotchemi commented on #112
@shiraji Thx!

[2016-03-11 05:54] hotchemi commented on #112
This issue might be fixed in master branch so I'll test it tonight and release new version.

[2016-03-11 08:01] ubarua123 commented on #57
I had a small doubt chaining permissions. I have a method with `@NeedsPermission` with multiple permissions and another method with `@OnPermissionDenied`  with the same signature of permissions. Question is, how will I know which ones got denied, which ones got accepted?

[2016-03-11 12:59] Den-Rimus commented on #109
I've also faced such error during making project. Library version 2.0.8, gradle plugin version 2.1.0-alpha1.

Not using Kotlin, just usual java - getting the same error.
Commenting methods with `@OnShowRationale` annotation helps so far - I'm gonna leave it as that till the end of the sprint just to unblock development. I hope you can find some time to fix this by then...

[2016-03-11 13:02] hotchemi commented on #109
@Den-Rimus Could you give us a sample code? We'll release 2.0.9 soon but I think this problem can not happen in Java project...

[2016-03-11 13:34] Den-Rimus commented on #109
https://github.com/Den-Rimus/permissiondispatchersample

[2016-03-11 13:45] hotchemi commented on #109
@Den-Rimus It seems you didn't take PermissionRequest object as an argument. Please check sample module.

[2016-03-11 14:04] Den-Rimus commented on #109
Yes, totally my bad

Sorry to bother =(

[2016-03-11 14:05] hotchemi commented on #109
@Den-Rimus No problem, thx :-)

[2016-03-15 13:32] fdorssers commented on #112
Did you already happen to get around to testing the possible fix?

[2016-03-16 02:31] ticofab opened #114 "verifyPermissions with empty grantResults returns true"
Hi, and thanks for this great library! I am getting some strange behaviour on my Nexus5 running Android 6.0.1, updated March 2016. After the user has denied permission once (for both fine & coarse location), sometimes the method `verifyPermissions(int... grantResult)` is invoked with an empty `grantResult`. In that case, it won't find any PERMISSION_DENIED and it will return true, with the result

[2016-03-16 03:28] hotchemi commented on #112
Sorry I forgot to do that, do it soon.

[2016-03-17 11:43] wawlian opened #115 "Does this library supports Application?"
This is an extremely great library which can handle most of the situations in my app. But I wonder whether it can support handling runtime permissions in Application or not? If it does, how can I do with it？

[2016-03-17 12:39] aurae commented on #115
Are you referring to the `Application` class? In that case, PermissionsDispatcher only supports the `@RuntimePermissions` annotation on sub-classes of `Activity` and `Fragment`, and in general I would advise against asking for runtime permissions anywhere else. You need to provide some context to the user, explaining to them why you are requesting a permission - doing it all right away in your `Ap

[2016-03-17 16:21] wawlian commented on #115
@aurae I got it and thank you for your kind reply.

[2016-03-18 03:18] #115 closed

[2016-03-18 15:59] Den-Rimus opened #116 "Can not navigate fragment in OnPermissionDenied callback"
When user denies permission I'm trying to open another screen by replacing fragment.

And I get this:

[code]

What can be the cause of this?

[2016-03-18 23:38] hotchemi commented on #112
@fdorssers Just released 2.0.9. Sorry for the late.

[2016-03-18 23:38] #112 closed

[2016-03-18 23:55] hotchemi commented on #114
Thank you for the report.
Well, I'm not sure why it happens, but Would this be a solution for you?
https://github.com/hotchemi/PermissionsDispatcher/issues/68#issuecomment-183963565

[2016-03-18 23:59] hotchemi commented on #116
It seems that this exception is not from the library. You can't replace Fragment after onSaveInstanceState is called. Please check your fragment's handling.

FYI: Consider commitAllowingStateLoss.

[2016-03-18 23:59] #116 closed

[2016-03-19 00:03] ticofab commented on #114
Yes, that would be a very simple check to prevent this problem. I haven't been able to figure out why grantResults is sometimes empty.. Thanks!

[2016-03-19 00:09] hotchemi commented on #114
OK, I'll impl and release tonight!

[2016-03-19 00:13] shiraji commented on #114
I'll send pull request in one minute @hotchemi

[2016-03-20 09:50] hotchemi commented on #114
@ticofab I released 2.1.0. Please use it. Thx for your report!

[2016-03-20 09:50] #114 closed

[2016-03-20 17:39] ticofab commented on #114
Thanks! I'll try it out and come back on this if I there's anything else to report :)

[2016-03-22 08:37] shiraji opened #119 "Handling Generics"
I found an issue with type parameter. Here is my sample code.

[code]

Generated code is following.

[code]

Compile error message is following

[code]

Sorry for Japanese error message, basically, it says "could not find class T".

I think there are 2 options

* Remove generics

[code]

* Add type parameter

[code]

What do you guys think?

[2016-03-22 08:57] shiraji commented on #119
Watch out for the following case

[code]

This should be

[code]

not

[code]

[2016-03-22 09:39] aurae commented on #119
As you mentioned, it should be enough to attach the type variables to the generated "withCheck" methods, and mirror their bounds accordingly. Good catch by the way!

[2016-03-22 10:41] hotchemi commented on #119
+1 for Add type parameter :-)

[2016-03-22 10:45] shiraji commented on #119
Thanks!

so, we all agree with adding type parameter. i will implement this issue if i found free time.

[2016-03-22 15:41] shiraji opened #120 "Remove grantResults parameter from onActivityResult"
While I am working with #119, I found another issue with `onActivityResult`.

Now, PermissionsDispatcher generates this

[code]

There is no way to pass `grantResults` from `Activity#onActivityResult(int requestCode, int resultCode, Intent data)`. Also, `XxxPermissionsDispatcher#onActivityResult(TestFragment<T, R, Q> target, int requestCode, int[] grantResults)` does not use `grantResults`. I thin

[2016-03-24 08:26] whenan opened #123 "OnNeverAskAgain and OnShowRationale are never called"
The phone is htc m8sw,os version is android 6.0.1.I use your library，but both OnNeverAskAgain and OnShowRationale are never called. Library version is 2.1.0.Help me.

[2016-03-24 08:35] hotchemi commented on #123
Please show us a sample code please? And you can look at our sample module.

[2016-03-24 08:45] whenan commented on #123
1,public void onClick(View v) {
		switch (v.getId()) {
		**case R.id.service_item3:
			MoreActivityPermissionsDispatcher.callPhoneWithCheck(this);**

2,@OnShowRationale(Manifest.permission.CALL_PHONE)
	void showRationaleForcallPhone(final PermissionRequest request) {
		new AlertDialog.Builder(this)
				.setTitle("提示")
				.setMessage("需要授权电话权限")
				.setNegativeButton("取消", new DialogInterface.OnC

[2016-03-24 08:52] whenan commented on #123
3,
@RuntimePermissions
public class MoreActivity extends BaseActivity

4,@Override
	public void onRequestPermissionsResult(int requestCode, String[] permissions, int[] grantResults) {
		super.onRequestPermissionsResult(requestCode, permissions, grantResults);
		MoreActivityPermissionsDispatcher.onRequestPermissionsResult(this, requestCode, grantResults);
	}

[2016-03-24 08:56] hotchemi commented on #123
It seems there is no @NeedsPermission annotated method.

[2016-03-24 08:58] whenan commented on #123
@NeedsPermission(Manifest.permission.CALL_PHONE)
	void callPhone() {
		 Intent intent = new Intent(Intent.ACTION_DIAL, Uri.parse("tel:4009930630"));
		 startActivity(intent);
	}

[2016-03-24 09:07] hotchemi commented on #123
Could you paste the code of MoreActivityPermissionsDispatcher? There is an answer.

[2016-03-24 09:07] whenan commented on #123
// This file was generated by PermissionsDispatcher. Do not modify!
package com.ciyun.lovehealth.setting;

import android.support.v4.app.ActivityCompat;
import java.lang.Override;
import java.lang.String;
import java.lang.ref.WeakReference;
import permissions.dispatcher.PermissionRequest;
import permissions.dispatcher.PermissionUtils;

final class MoreActivityPermissionsDispatcher {
  private stat

[2016-03-24 09:13] hotchemi commented on #123
I think code is generated correctly. Any stacktrace?

[2016-03-24 09:31] whenan commented on #123
[2.txt](https://github.com/hotchemi/PermissionsDispatcher/files/187522/2.txt)

[2016-03-24 09:33] hotchemi commented on #123
Umm, sorry I can't find the cause. Could you give us a sample app?

[2016-03-24 09:34] whenan commented on #123
It is very strange, I do not know whether the htc rom cuaused the error

[2016-03-24 10:03] whenan commented on #123
Process: com.android.packageinstaller, PID: 681
                                               java.lang.RuntimeException: Unable to start activity ComponentInfo{com.android.packageinstaller/com.android.packageinstaller.permission.ui.GrantPermissionsActivity}: java.lang.NullPointerException: Attempt to get length of null array
                                                   at android.app.Activ

[2016-03-24 10:06] whenan commented on #123
![3](https://cloud.githubusercontent.com/assets/16183633/14014043/010dbf9a-f1eb-11e5-9f48-f2014ba1d965.png)
It seems the room has a bug.

[2016-03-24 10:25] whenan commented on #123
The Attachment is my demo.
[Permission.zip](https://github.com/hotchemi/PermissionsDispatcher/files/187617/Permission.zip)

[2016-03-24 11:10] shiraji commented on #123
Have you tried other device?

[2016-03-25 05:15] whenan commented on #123
I will try another device,thank you!

[2016-03-25 07:19] Smeet123 commented on #123
@whenan You miss to write <uses-permission android:name="android.permission.CALL_PHONE"/> in your manifest file.

[2016-03-25 07:35] hotchemi commented on #123
Good catch ever!!!

[2016-03-25 07:35] whenan commented on #123
Yes,I see,but also  OnNeverAskAgain and OnShowRationale are never called

[2016-03-25 07:39] whenan commented on #123
The crash gone,but still both OnNeverAskAgain and OnShowRationale are never called

[2016-03-25 07:41] hotchemi commented on #123
Have you rebuild the project?

[2016-03-25 07:42] whenan commented on #123
even when I denied the permisson ,the NeedsPermission was callback.

[2016-03-25 07:48] whenan commented on #123
Yes,  I  rebuild the project.

[2016-03-25 07:55] whenan commented on #123
Who can help me? I'm confused

[2016-03-25 08:02] hotchemi commented on #123
I'll try to reproduce the problem tonight.
But you can quickly debug the code if you put break point on a MoreActivityPermissionsDispatcher class. Could you try that?

[2016-03-25 08:04] whenan commented on #123
OK，I will have a try.

[2016-03-25 08:40] Smeet123 opened #124 "Error:Execution failed for task ':sample:clean'"
When I include PermissionsDispatcher code, my project fails to clean build with following error message:

Error:Execution failed for task ':sample:clean'.

If I remove this PermissionDispatcher code including from build.gradle file then everything working fine.

[2016-03-25 09:03] shiraji commented on #124
check #105 and [wiki](https://github.com/hotchemi/PermissionsDispatcher/wiki/Existing-problems)

[2016-03-25 12:23] Smeet123 commented on #124
@shiraji Thank you for your response. I updated my android studio with 2.0 beta 7, and now i can clean build my project, but now I got some of the warning messages as shown in attached screen shot. I can run the project successfully and without any issue but it gives me red lines in entire java files.

![error](https://cloud.githubusercontent.com/assets/11767191/14044105/5f17ada4-f2b2-11e5-9505-05

[2016-03-25 13:25] aurae commented on #124
It states the issue right in the tooltip: In your class annotated with @RuntimePermissions, you need to override onRequestPermissionResult() and invoke the generated PermissionsDispatcher method of the same name.

[2016-03-25 17:16] Smeet123 commented on #124
Yes I am overriding onRequestPermissionResult() and calling generated PermissionsDispatcher method already, can you please suggest another solution ?

[2016-03-25 22:13] shiraji commented on #124
could you give us a sample code?

[2016-03-28 04:46] Smeet123 commented on #124
Here is the entire project that I am trying to build a sample project for run-time permissions.
[Permission.zip](https://github.com/hotchemi/PermissionsDispatcher/files/191383/Permission.zip)

[2016-03-28 05:04] shiraji commented on #124
I am not able to reproduce this warning...could you give me a step to reproduce this error?

I ran `./gradlew clean lintDebug` and also executed `lintDebug` from Android Studio. didn't get any errors. (16 warnings which are not related to PermissionsDispatcher)

My Android Studio version is 2.1 preview4.

[2016-03-28 05:17] Smeet123 commented on #124
Yes I am also not getting any error, project run successfully without any issue. But it shows annoying red lines in entire java files as shown in above attached screen shot. Again attaching the screen shot, please check it below.
![error_2](https://cloud.githubusercontent.com/assets/11767191/14071455/6c3283ac-f4d2-11e5-8495-ade7d5c5f9a7.png)

I am using Android Studio version is 2.0 Beta 7

[2016-03-28 05:26] shiraji commented on #124
I have no clue if you don't give me the steps to reproduce this error.

BTW, have you tried `Invalidate Caches / Restart...`?

[2016-03-28 05:39] Smeet123 commented on #124
Actually there is no any steps to re-produce it, I just include permission dispatcher in build.gradle files and id necessary coding and then just did the clean build and I got these error red lines.

I also did the invalid caches/Restarts but it didn't help me. If you have any idea why it is telling me `onRequestPermissionsResult` is not called even though I am overriding it in my fragment, then c

[2016-03-28 06:01] shiraji commented on #124
No. That's why I ask you how to do it.

You may have change lint configurations which I don't know about. How did you show the custom lint result on the editor, like inspection? (and the result is not right one...)

[2016-03-28 06:54] Smeet123 opened #125 "Multiple permissions and Never ask again issue"
Lets say I am using camera feature and that requires 2 permission - 1. Camera and 2. Write External Storage. When it asks for both the permissions I Deny it. Again I press on camera capture button, it shows rational dialog explaining why it is required. Then I press on ALLOW on that dialog. So it first asks for the camera permission again and I checked NEver ask again and Deny it. Then it asks for

[2016-03-28 07:03] Smeet123 commented on #124
I think It has an issue with https://github.com/hotchemi/PermissionsDispatcher/blob/master/lint/src/main/java/permissions/dispatcher/CallOnRequestPermissionsResultDetector.java but don't know what you are doing over there and what is missing in my code so it is showing lint error. As  you have worked on permission dispatcher, you have better idea on it what is missing.

[2016-03-28 07:25] Smeet123 commented on #125
In generated java file it has a method :

[code]

In else part, every time it asks for both the permissions without checking whether any of the permission(s) is already granted or not. Please check if any of the permission(s) is/are granted and exclude it from target.requestPermissions() is it is already granted.

[2016-03-28 08:17] shiraji commented on #124
Well, if that the case, then we should get an error when we ran `./gradlew lintDebug`

For instance, if I commented out `onRequestPermissionsResult` and run `./gradle lintDebug`

[code]

I get this error message

[code]

And the error description is following

[code]

which is what you get.

I felt like that is an issue with Android Studio, not PermissionsDispatcher or lint, like I said at the beg

[2016-03-28 14:46] shiraji commented on #124
I think we should reopen this issue.

[2016-03-28 16:19] shiraji commented on #124
@hotchemi reproduced this problem in Android Studio 2.1 pre4, too. I haven't, yet...maybe my lint environment is not normal since I was working on the lint.

[2016-03-29 04:21] a1018875550 opened #126 "how do slove this bug?"
![image](https://cloud.githubusercontent.com/assets/8246218/14096850/5d93f78c-f59e-11e5-8b25-84a61493c1d3.png)

![image](https://cloud.githubusercontent.com/assets/8246218/14096864/6d35d890-f59e-11e5-9e70-9675af5e35c1.png)

![image](https://cloud.githubusercontent.com/assets/8246218/14097885/ba952456-f5a8-11e5-8bcd-edab5dc8e43a.png)

I don't understand why?
How do I do?

[2016-03-29 04:34] Smeet123 commented on #126
Which Android studio version you are using? It is not compatible with Android  Studio 2.0 below versions. So please update your Android Studio to 2.0 beta version as stable version is not available. This above issue is in Android Studio and not in the Permission Dispatcher library.

[2016-03-29 04:37] a1018875550 commented on #126
I'm using the AndroidStudio 1.5.1
 this bug will not in Android Studio  2.0 beta version ?

[2016-03-29 04:41] Smeet123 commented on #126
No, in Android Studio 2.0 beta version it is working fine. But it has some lint issue also, just warning but it will not affect your working flow. Please refer entire conversation over here : https://github.com/hotchemi/PermissionsDispatcher/issues/124

[2016-03-29 04:43] a1018875550 commented on #126
Thanks

[2016-03-29 04:43] #126 closed

[2016-03-29 05:16] shiraji commented on #124
I really have no idea why this happens in some people's environment except mine. Still thinking this is a bug of Android Studio.

I set lint dependancy https://github.com/shiraji/PermissionsDispatcher/commit/cb34f322edee330a28de87a99bd4d7730572c6db Could you test it thou jitpack.io, @Smeet123 ?

build.gradle

[code]

app/build.gradle

[code]

[2016-03-29 12:22] Smeet123 commented on #124
Ok sure I will give a try and let you know dear :)

[2016-03-29 23:36] hotchemi commented on #124
@Smeet123 @shiraji We released 2.1.1(delete above lint check as an emergency correspondence). For the time being please use it. Thx!

[2016-03-30 05:03] Smeet123 commented on #124
@shiraji @hotchemi None of the both approaches solve  this issue. Changed build.gradle (module & app level) as suggested by @shiraji and also tried new 2.1.1 library as suggested by @hotchemi, but both failed to resolve this red line issue.

[2016-03-30 05:17] shiraji commented on #124
Thanks for testing the module, @Smeet123 .

This result piss me off...what does v2.1.1 module's error say? the same error message?

[2016-03-30 05:59] Smeet123 commented on #124
@shiraji Yes same error.

[2016-03-30 12:23] Smeet123 commented on #125
And due to this, blank screen is appeared as activity is created again. Don't know this is the internal issue of Android permission implementation. Really this is very unexpected behavior of Android. This can be resolved if you solve the above issue.

[2016-03-31 02:51] chond opened #129 "How to solve the problem ?"
![image](https://cloud.githubusercontent.com/assets/10560641/14164048/7883b26c-f72e-11e5-8977-758fead105e7.png)

[2016-03-31 02:52] shiraji commented on #129
Rebuild.

[2016-03-31 02:53] chond commented on #129
![image](https://cloud.githubusercontent.com/assets/10560641/14164070/b7f78680-f72e-11e5-9e74-a421696fb71f.png)

Android studio 2.1 Preview 3

[2016-03-31 02:56] chond commented on #129
Thanks

[2016-03-31 02:56] #129 closed

[2016-04-03 22:02] hotchemi commented on #124
@Smeet123 Have you tried clean?

[2016-04-03 23:09] hotchemi commented on #125
See https://github.com/hotchemi/PermissionsDispatcher/issues/69.

We follow the google's thoughts and implementation, so we don' plan to support. Thx.

[2016-04-03 23:09] #125 closed

[2016-04-03 23:09] hotchemi commented on #123
@whenan Did u solve this problem?

[2016-04-04 06:19] Smeet123 commented on #124
@hotchemi Yes did all possible solutions but still same issue.

[2016-04-04 13:08] shiraji commented on #124
I changed lint scope. Could you try this?

Here is the diff
https://github.com/hotchemi/PermissionsDispatcher/compare/7370ee260310385ce7da6aa95d7d6a361771501f...shiraji:c79f0cf2c7163bab7d71db520160f4496e648e7d

build.gradle

[code]

app/build.gradle

[code]

[2016-04-04 16:23] bffcorreia commented on #124
Hi @shiraji. I have the same problem, but it looks ok with the lint scope changed.

[2016-04-05 00:42] shiraji commented on #124
Thanks @bffcorreia

How about you, @Smeet123 ?

[2016-04-05 09:16] whenan commented on #123
Sorry,not yet,did you reproduce the problem?

[2016-04-06 05:20] hotchemi commented on #124
And some guys reported that using "invalidate cache" in Android Studio may solve the problem.

[2016-04-06 23:49] robertbakker commented on #124
My current workaround is to add a private class.
Then only that class gets the red line. Atleast it lets me read my code for now. Hope to get rid of it soon.
[code]

[2016-04-07 01:38] hotchemi commented on #124
@robertbakker Have you tried https://github.com/hotchemi/PermissionsDispatcher/issues/124#issuecomment-206122856 ?

[2016-04-07 09:05] robertbakker commented on #124
@hotchemi I tried `File->Invalidate Caches/Restart` , which did not solve the problem
and the patch posted above, which Gradle couldn't build for me (sorry, I don't have the Gradle error anymore)

[2016-04-07 10:34] sevar83 opened #130 "Entire class has warning "Generated onRequestPermissionsResult method not called""
I get my whole class underlined in red with this warning:

My code is fine. It compiles and runs but the editor warning keeps showing also on every class nested in a fragment or activity. Could you please fix it as I can't see my own real errors :D.

[2016-04-07 10:55] hotchemi commented on #130
What version do you use?
And this issue is discussed in https://github.com/hotchemi/PermissionsDispatcher/issues/124

[2016-04-07 11:16] sevar83 commented on #130
Yes, appears to be the same issue. Using 2.1.0, but after upgrading to 2.1.1 it shows up again. I haven't try clean rebuild and Invalidate Caches because the project is quite large.

[2016-04-07 11:17] hotchemi commented on #130
You should try, why not?

[2016-04-07 11:28] sevar83 commented on #130
Migration to 2.1.1 + Clean Rebuild + Invalidate Caches And Restart didn't fix it :S Do you know how can I disable that particular warning from Lint config?

[2016-04-07 14:32] shiraji commented on #130
Could you try this? https://github.com/hotchemi/PermissionsDispatcher/issues/124#issuecomment-205289493

[2016-04-07 15:00] sevar83 commented on #130
@shiraji With your changeset it works fine. :+1:

[2016-04-07 15:05] shiraji commented on #130
Cool. That is what I wanna know! I will send pull request with this change to fix this issue. Sorry for inconvenience.

Since it may take time to release v2.1.2, you can use following code to disable this lint in v2.1.1

[code]

Thanks a lot.

[2016-04-10 09:15] codebased commented on #90
so whats the solution - where should be checked for required permissions ? I have just faced this problem

[2016-04-10 09:56] kenshin171 commented on #90
Below is the better place to call a method with permission request when you want the permission request to be asked on activity start.

[2016-04-10 11:58] codebased commented on #90
yup thanks!

[2016-04-10 20:41] hotchemi commented on #123
I couldn't reproduce the problem so I'm gonna close this issue, sorry.

[2016-04-10 20:41] #123 closed

[2016-04-10 20:48] #124 closed

[2016-04-10 20:49] #130 closed

[2016-04-10 21:41] #120 closed

[2016-04-10 21:41] #119 closed

[2016-04-11 06:26] Smeet123 commented on #123
Yes and @whenan, I tried your example and it is working fine with the added permission in manifast. I test the demo/example provided by you and it is working fine. Please check once again, you may did some minor mistakes. For further detail, please check my demo app : https://github.com/hotchemi/PermissionsDispatcher/files/191383/Permission.zip

[2016-04-11 06:54] Smeet123 commented on #124
Application is working fine and red lines gone by changing gradle files as shown above. Thank you so much all members. Very happy to see this issue resolved now.

[2016-04-11 14:47] sibeliusseraphini opened #133 "Missing createAppSettingsIntent on 2.1.2"

[2016-04-11 14:59] sibeliusseraphini commented on #133
[code]

[2016-04-11 15:02] shiraji commented on #133
The method was deleted v2.0.3. Check this commit https://github.com/hotchemi/PermissionsDispatcher/commit/bb2537c91dac8287dbc24839033d8986980792b4

[2016-04-11 15:02] sibeliusseraphini commented on #133
@shiraji can we added it back? I think it is a very common use case

[2016-04-11 15:17] shiraji commented on #133
Could you give me a sample use case for this method? I don't see the point of having this method in this library at this moment.

Yes, you are right. It is very common for Android app but not for library.

[2016-04-11 19:29] #133 closed

[2016-04-11 19:59] 240ch opened #135 "com.sun.tools.javac.code.Symbol$CompletionFailure: class file for java.lang.invoke.MethodType not found"
I'm trying to compile but this exception shows up. I'm not sure whether it's _really_ a bug in Java compiler or in this plugin. Could you please tell me how to retrieve more information?

[code]

Besides your plugin, I'm using Kotlin (`1.0.1-2`)

Thank you very much

[2016-04-11 20:17] hotchemi commented on #135
Not sure why it happened and there is no library stacktrace. Could you use the same kotlin version to permissionsdispatcher?

[2016-04-11 20:18] #135 closed

[2016-04-11 20:36] 240ch commented on #135
I just managed to compile with JDK 7 so it's possibly not related to Kotlin. However, how would I set the Kotlin version explicitly for permissionsdispatcher?

[2016-04-11 21:03] hotchemi commented on #135
No I mean please use 1.0.0 ver to your app.

[2016-04-11 22:49] shiraji commented on #135
Seems problem with gradle-retrolambda

https://github.com/evant/gradle-retrolambda/issues/86
https://github.com/evant/gradle-retrolambda/issues/120

[2016-04-12 22:33] svenoaks opened #136 "Generated classes show up as errors in Android Studio 2.0"
All the generated classes like MainActivityPermissionsDispatcher show up as errors in Android Studio, even though app builds fine. I've closed and reopened everything, cleaned, etc. Any help?

[2016-04-12 22:43] ecatix commented on #136
MainActivityPermissionsDispatcher doesn't seem to be generated with Android Studio 2.0. The build.gradle seems to be correct and the annotations are recognized. It must be something very simple.

[2016-04-13 02:25] hotchemi commented on #136
I'm using Android Studio 2.0 preview 5 but it works fine. Have you tried rebuild project?

[2016-04-13 09:46] ecatix commented on #136
Yes, rebuild did the trick. Thank you.

[2016-04-13 10:37] #136 closed

[2016-04-13 10:37] hotchemi commented on #136
OK.

[2016-04-17 12:44] HarryMMR commented on #35
I'm still facing the same error. Adding @aar doesn't help either. Somebody help please!

[2016-04-17 13:08] teaphy opened #137 "OnNeverAskAgain and OnShowRationale are never called"
[code]

[2016-04-20 15:19] chubbard opened #138 "Why are there 2 dialogs presented?"
When I add a @OnShowRationale to my class I see my rationale dialog which is the following:

[code]

But after clicking allow it then shows another dialog that I can only guess is from Android OS asking the same question.  That dialog has a never show this to me again option on it, but the flow is not smooth.  I see a dialog asking me to grant permission.  I click allow, then a second dialog asks

[2016-04-21 02:57] DINGJIN90 opened #139 "compileDebugJavaWithJavac fails with NoAnnotatedMethodsException when using AA Framework"
compileDebugJavaWithJavac fails with NoAnnotatedMethodsException when using Android Annotation Framework

[2016-04-21 02:57] DINGJIN90 commented on #139
@hotchemi please take a look, thanks in advance!

[2016-04-27 20:52] hotchemi opened #140 "Scoped Directory Access support"
Not sure but just realized.

http://developer.android.com/preview/features/scoped-folder-access.html
https://github.com/googlesamples/android-ScopedDirectoryAccess

[2016-04-28 09:50] aurae commented on #140
We should keep support for this in mind once the final SDK for N is released.

Some info on the methods used here: `StorageManager#getPrimaryVolume` has been added to the platform with `JELLY_BEAN_MR1`/Android 4.2, but has been marked with `@hide` ever since. `StorageVolume#createAccessIntent` is a new API coming with N, however.

It shouldn't be hard to add support for this within the library, as

[2016-05-02 04:20] hotchemi commented on #139
@DINGJIN90 Sorry for the late, I think PermissionsDispatcher can't be used AA as AA creates new Activity...sorry.

[2016-05-02 04:20] #139 closed

[2016-05-02 04:22] hotchemi commented on #139
See https://github.com/hotchemi/PermissionsDispatcher/issues/14 .

[2016-05-02 04:29] hotchemi commented on #138
See https://github.com/hotchemi/PermissionsDispatcher/issues/69 .
It's the problem of specification of the Android framework.

[2016-05-02 04:29] #138 closed

[2016-05-02 04:31] hotchemi commented on #137
Could you share the generated code of MainActivityPermissionsDispatcher?

[2016-05-04 10:22] embydextrous opened #141 "NoParametersAllowedException on Gradle build"
Execution failed for task ':app:compileDebugJavaWithJavac'.

[2016-05-04 11:03] embydextrous commented on #141
`package com.listup.android.activity;

import android.Manifest;
import android.accounts.Account;
import android.accounts.AccountManager;
import android.animation.Animator;
import android.animation.AnimatorListenerAdapter;
import android.annotation.SuppressLint;
import android.app.Dialog;
import android.content.DialogInterface;
import android.content.Intent;
import android.graphics.Color;
import an

[2016-05-04 11:07] embydextrous commented on #141
I don't want to shift to any other library for permissions. It was working very fine. And all of a sudden this bug. I tried rebuild project, clean, invalidate caches.

[2016-05-04 11:15] aurae commented on #141
The issue is right in the error message: Methods annotated with @OnPermissionDenied must not have parameters, yours does, hence the error.

[2016-05-04 11:15] shiraji commented on #141
Could you remove the parameter of `permissionDeclined` like this?

[code]

BTW, this is the first time i see one method have  `@OnNeverAskAgain` and `@OnPermissionDenied`. Do you really want to do that?

[2016-05-04 12:40] embydextrous commented on #141
Thanks. I got the point.

[2016-05-04 12:40] #141 closed

[2016-05-04 19:00] Rainer-Lang opened #142 "Rationale dialog first not shown after reinstall"
I discovered something strange.
When I reinstall the app - the first time a permission rationale dialog should be shown, only the Android default permission dialog is shown. After deny/allow (it doesn't matter what is chossen) ALL other permission rationale dialogs are shown (for all other or same permissions).

[2016-05-06 03:43] #137 closed

[2016-05-06 03:44] hotchemi commented on #137
Please reopen this issue if you're still in trouble.

[2016-05-06 03:46] hotchemi commented on #142
I think it's not correct, for the first time permission dialog should be shown to user.

[2016-05-06 03:46] #142 closed

[2016-05-06 03:46] hotchemi commented on #142
Please reopen if you're still in trouble.

[2016-05-06 09:59] Rainer-Lang commented on #142
@hotchemi I maybe I don't understand it.... I have for all permissions rationale dialogs. These dialogs are essential for the users to grant permissions in the next dialog - the Android system permission dialog.

BUT for the very first time when I have to ask user for permission, the rationale dialog isn't be shown. So the user gets only the Android permission dialog without any explanation.
For m

[2016-05-06 16:11] hotchemi commented on #142
Please check runtime permissions specification before using this library, thx. http://developer.android.com/training/permissions/requesting.html

[2016-05-06 16:35] Rainer-Lang commented on #142
@hotchemi Your library is already running - version 2.1.2. Rationale dialogs are shown. But only the very first rationale dialog after reinstall of the app isn't shown. All other rationale dialogs later in the app are shown without any problems.
I encountered this problem even in your sample-app - on both buttons. BUT you need to deinstall the app first!

[2016-05-06 16:42] hotchemi commented on #142
Rationale dialog should be shown after user have pressed denied button, of course it is reseted when the app in uninstalled...please look android developers carefully...

[2016-05-06 16:47] Rainer-Lang commented on #142
```@OnShowRationale - Annotate a method which explains why the permission/s is/are needed.``` (readme)
I understood that first the rationale dialog is shown to explain the user why he should press ```allow``` and grant the permission. After this the Android dialog.
So I misunderstood it?

[2016-05-06 16:49] hotchemi commented on #142
Please re-read android developers.

[2016-05-06 16:53] Rainer-Lang commented on #142
I re-read it - and I understand it. Thanks a lot.
Then: Is it right that the very first permission dialog has no "never ask again"?

[2016-05-06 16:55] hotchemi commented on #142
yup.

[2016-05-06 16:56] Rainer-Lang commented on #142
@hotchemi I have to apologize for this issue/confusion and thank you for your patience.

[2016-05-06 16:56] hotchemi commented on #142
@Rainer-Lang No problem:)

[2016-05-08 20:16] gowravshekar commented on #139
Is there no solution to use Android Annotations with PermissionsDispatcher library?

[2016-05-09 02:19] hotchemi commented on #139
I've not founded but could you try?

[2016-05-09 10:53] shiraji commented on #139
AA now has a plugin feature https://github.com/excilys/androidannotations/wiki/Creating-an-AndroidAnnotations-plugin

I think you need to implement that in order to use both AA and PM.

[2016-05-09 11:04] aurae commented on #139
Using @shiraji's suggestion would make the addition of PermissionsDispatcher's functionality to AA-based projects possible, I agree. I'll try to have a look at this soon, if I find the time and you guys don't mind.

[2016-05-09 11:20] shiraji commented on #139
That would be awesome!

[2016-05-09 11:48] hotchemi commented on #139
Interesting:-) It would be nice if we can provide the plugin as another dependency!

[2016-05-09 15:46] hotchemi opened #143 "Create Android Annotation plugin"
Ref. https://github.com/hotchemi/PermissionsDispatcher/issues/139#issuecomment-217834223

Now Android Annotation has a plugin system so we can create plugin for permissionsdispatcher.

[2016-05-10 07:59] aleb opened #144 "Make the helper class non-generated"
The `@OnShowRationale(Manifest.permission.CAMERA)` annotation seems to be only for decoration while it could be used by the library to find which methods to call when the client calls the helper's `onRequestPermissionsResult` or `show*WithCheck` methods. In this case the generated class has no reason to exist and should be replaced with a normal class.

If this is not true, please mention in https

[2016-05-10 08:40] hotchemi commented on #144
Sorry, I can't understand your point. What do you mean?

[2016-05-10 09:38] hexllo opened #145 "Two permission can't use"
“android.permission.SYSTEM_ALERT_WINDOW”
“android.permission.WRITE_SETTINGS”
@egor-n
![image](https://cloud.githubusercontent.com/assets/14800596/15142069/f9af37b4-16d5-11e6-9ef6-8c1e1b03c2fd.png)

[2016-05-10 09:55] hotchemi commented on #145
They are special permissions so you can't handle these at the same time. Ordinal permissions can be handled.

[2016-05-10 09:55] #145 closed

[2016-05-10 10:07] hexllo commented on #145
OK,Thank for you help;Thank you very much.

[2016-05-10 10:48] aleb commented on #144
I see now the OnShowRationale annotation is not just for decoration and is used actually, by the code which generates the helper class.

The problem is that having to generate the helper class based on the method annotations is awkward. Maybe because I'm not sure at what point this operation is performed and I have the impression it's fragile.

I think it's possible to get rid of the generated hel

[2016-05-10 15:37] hotchemi commented on #144
I think we don't use OnShowRationale annotation itself by generated code.
Could you give me a concrete example? The following is a sample of the generated class.
https://github.com/hotchemi/PermissionsDispatcher/blob/master/art/MainActivityPermissionsDispatcher.java

And if you have any idea, could you give me a pull request?

[2016-05-10 15:37] #144 closed

[2016-05-10 15:54] shiraji commented on #144
"Annotation Processing Tool" is the word you probably should google it. Annotation processing is the one of the common tools that is used in the Android library these days. For example, Dagger, ButterKnife, AndroidAnnotations are the libraries that use annotation processing to generate codes. It is not awkward and fragile. In fact, annotation processing reduces the amount of the code to write.

Ar

[2016-05-10 17:20] willthink opened #146 "Installation failed by adding dependencies in build.gradle"
I added this two lines in dependencies in app's build.gradle

compile 'com.github.hotchemi:permissionsdispatcher:2.1.2'
 apt 'com.github.hotchemi:permissionsdispatcher-processor:2.1.2'

And
        classpath 'com.neenbedankt.gradle.plugins:android-apt:1.8'
in project build.gradle dependencies

But I'm getting this error after syncing grade project

Error:Could not find com.github.hotchemi:permissi

[2016-05-10 20:08] aurae commented on #146
PermissionsDispatcher is distributed via `jcenter`. Make sure that your module has access to that by including it, e.g. in your project-level build.gradle:

[code]

[2016-05-10 20:59] #146 closed

[2016-05-11 11:09] apperside commented on #35
same issue here, any solution? Really can't find out what does it mean!

[2016-05-11 11:18] hotchemi commented on #35
@apperside Have you tried https://github.com/hotchemi/PermissionsDispatcher#download ?

[2016-05-11 11:38] hexllo opened #147 "Add TargetSDK Version Judge,Please."
I use "android.permission.SYSTEM_ALERT_WINDOW" ,run on Android6.0 is very OK.

but,run on Android4.2,Occure FATAL EXCEPTION.

i guess Android4.2 SDK  no exists " android.provider.Settings.canDrawOverlays" method.

![image](https://cloud.githubusercontent.com/assets/14800596/15179660/cfca9ec2-17af-11e6-9352-f8f271b85d53.png)

please add judge SDK version in PermissionDispater.

PermissionDispater i

[2016-05-11 11:40] apperside commented on #35
tried what exactly? I followed all the steps indicated but when I sync the project with gradle I receive the error message

Error:Module 'com.github.hotchemi:permissionsdispatcher:2.1.2' depends on one or more Android Libraries but is a jar

I modified the **project** build.gradle adding

classpath 'com.neenbedankt.gradle.plugins:android-apt:1.8'

to the dipendences

and modified the **app** build

[2016-05-11 12:31] aurae commented on #147
I can reproduce the issue. `Settings#canDrawOverlays` was added to the platform in API level 23, so calling this method without a proper check is an oversight that must be taken care of.

Thank you for the report!

[2016-05-11 12:43] aurae commented on #147
@shiraji, you brought in the original support for `SYSTEM_ALERT_WINDOW`, so your knowledge about how the platform treats that special permission is greater than mine. How would we backport the behavior of `Settings#canDrawOverlays' below 23?

[2016-05-11 13:03] hexllo commented on #147
I add judge to outer.
eg:

  if(Build.VERSION.SDK_INT >= 23)
        {
            MainActivityPermissionsDispatcher.processPhoneWithCheck(this);
            MainActivityPermissionsDispatcher.showTopWindowWithCheck(this);
        }
        else
        {
            processPhone();
        }

[2016-05-11 13:24] shiraji commented on #147
It should be like this...

[code]

[code]

I will send PR

[2016-05-11 15:20] mahmoud-elnaggar opened #149 "Dispatcher class for Fragment"
I'm using Support Fragment and annotate my Fragment with @RuntimePermission
but the Dispatcher class not generated ,
it is working very well with Activity.

[2016-05-11 16:01] shiraji commented on #149
Could you give us minimum project that reproduce this problem or show us your Fragment? Because support Fragment with `@RuntimePermission` should work like Activity.

[2016-05-11 16:38] hotchemi commented on #149
Yup, also check https://github.com/hotchemi/PermissionsDispatcher#fragment-support.

[2016-05-11 16:55] #147 closed

[2016-05-11 17:11] hotchemi commented on #147
@hexllo Just released 2.1.3! Thank you for your report!

[2016-05-11 17:31] mahmoud-elnaggar commented on #149
I feel embarrassed
it is my mistake that I depended on auto-complete on Android Studio and I had to write Full  Class name , also Emulator didn't give me any Runtime Exception for Permission so I thought that the library somehow has a bug, Sorry :(

[2016-05-11 17:31] #149 closed

[2016-05-11 21:39] shiraji commented on #149
Don't be. Grad this library hass nothing to wrong.

[2016-05-12 02:36] hexllo commented on #147
You're welcome.

[2016-05-12 02:37] hexllo commented on #147
You're welcome.

[2016-05-12 03:16] hexllo commented on #147
You're welcome.

[2016-05-12 08:36] ankush19902 opened #150 "Permission problem with contacts in fragment"
Hi,

I am having one strange problem when asking permission for contacts.
When click on button to ask for the permission, it open the app default dialog for asking permission and when i click on it , it goes into the neveraskagain block.
When i click on the deny button in same dialog, it goes in denied mode. When again i request for permission now it shows my dialog and when i click allow in that

[2016-05-14 21:35] gokselguren commented on #35
Same issue occured.

[2016-05-14 21:47] gokselguren commented on #35
Encountered same issue

[2016-05-15 00:10] shiraji commented on #35
So, have you guys add following code?

project build.gradle

[code]

app build.gradle

[code]

[2016-05-19 21:08] mtkarimi opened #151 "Proguard"
hello
what is proguards?

[2016-05-20 01:20] hotchemi commented on #151
You don't have to use proguard. Because it uses annotation processing.

[2016-05-20 01:20] #151 closed

[2016-05-20 08:54] aurae commented on #151
To elaborate on this: PermissionsDispatcher generates code without using reflection, which is why you don't need to add any additional ProGuard rules for this library.

[2016-05-24 03:29] chond opened #152 "If the phone prior to 6.0 do run-time rights management, as well as with this you use it?"
If the phone prior to 6.0 do run-time rights management, as well as with this you use it?

[2016-05-24 04:56] hotchemi commented on #152
Sorry what u mean?

[2016-05-27 06:40] chond commented on #152
There are some other phones, Before the system is 6.0, But it has done a check permission to run, if you use the framework to check permission, can you check it?

[2016-05-27 07:13] aurae commented on #152
Since we're using `PermissionChecker` from the support-v4 library under the hood, we are subject to the same policies enforced by that class, which is the default expected behaviour on the platform. Quoting [its documentation](https://developer.android.com/reference/android/support/v4/content/PermissionChecker.html), it says:

It's encouraged to include PermissionsDispatcher into apps that are pot

[2016-05-29 09:09] Montrazul opened #153 "MainActivityPermissionsDispatcher is not generated after build"
I followed the instructions but the MainActivityPermissionsDispatcher is never created. I cant use this Activity after the build process.

[2016-05-31 02:48] hotchemi commented on #153
Please check your gradle setting, and try sample module.

[2016-05-31 02:48] #153 closed

[2016-05-31 02:59] hotchemi opened #154 "Support uses-permission-sdk-23"
Currently we've not supported `uses-permission-sdk-23` so it would be better to add an option to define whether one permission is for up to 23 or not.

ref: https://twitter.com/izumin5210/status/735289425324695552

[2016-05-31 06:52] Montrazul commented on #153
Yes, that is what i did and the sample project also did not create the MainActivityPermissionsDispatcher.

[2016-05-31 07:03] shiraji commented on #153
Have you rebuild project?

[2016-05-31 07:05] Montrazul commented on #153
Before i used the MainActivityPermissionsDispatcher. I implmemented everything needed before MainActivityPermissionsDispatcher, i rebuild project and after tried to access MainActivityPermissionsDispatcher but the class could never be found.

[2016-05-31 07:10] shiraji commented on #153
Rebuild after adding `MainActivityPermissionsDispatcher`

[2016-05-31 07:11] Montrazul commented on #153
Why "adding" the MainActivityPermissionsDispatcher should get created automatically after you build the project using the annotations.......

[2016-05-31 07:11] shiraji commented on #153
And if it does not help, could you give us a sample project?

[2016-05-31 07:11] Montrazul commented on #153
The sample project is provided on this github repository.

[2016-05-31 07:13] aurae commented on #153
The sample project definitely 100% no-doubt works perfectly fine. Are you on Android Studio? What version? What version of Gradle are you building with?

[2016-05-31 07:13] shiraji commented on #153
Well, the sample project compile successfully on all of my workstation. You need to give us your sample project that reproduce this issue.

[2016-05-31 07:15] Montrazul commented on #153
Android Studio 2.1.1
Gradle Version 2.1.0

[2016-05-31 08:26] shiraji commented on #153
It seems a bug in AndroidStudio, not PermissionsDispatcher. Have you use other annotation processing library?

[2016-05-31 11:55] aurae commented on #153
That's very weird. Do you use Instant Run? About 90% of my build-related issues in the past weeks all came down to disabling Instant Run.

[2016-05-31 17:31] hotchemi commented on #153
@aurae @shiraji Thank you for your help!

[2016-06-06 13:16] shmueldw opened #155 "How to ask for multiple permissions at a time with PermissionsDispatcher?"
How to ask for multiple permissions at a time?

[2016-06-06 13:20] #155 closed

[2016-06-08 06:43] herbertdai opened #156 "permissions.dispatcher.processor.exception.WrongClassException"
permissions.dispatcher.processor.exception.WrongClassException: Class 'com.test.hk.agg.MyUITest' can't be annotated with '@RuntimePermissions'

[2016-06-08 06:52] shiraji commented on #156
Is your `MyUITest` extends `Activity`, `Fragment` or `support.v4.app.Fragment`?

Documentation for `RuntimePermissions` is this.
https://github.com/hotchemi/PermissionsDispatcher#1-attach-annotations

[2016-06-08 06:59] herbertdai commented on #156
@shiraji  Hi, I'm running a AndroidJunit4 test and the MyUITest looks like:

[code]

I do not use any Dispatcher related annotations in this file.

[2016-06-08 07:03] hotchemi commented on #156
Umm, wired...could you give us an example project?

[2016-06-08 07:08] herbertdai commented on #156
Thanks @hotchemi , Wait a minute, I'm building a sample project.

[2016-06-08 07:13] #152 closed

[2016-06-08 07:14] hotchemi commented on #152
@chond Still having a trouble?

[2016-06-08 07:14] hotchemi commented on #150
@ankush19902 Hi, sorry for the late. It seems generated code is not wrong...could you give us a example project?

[2016-06-08 11:33] Bathilde opened #157 "Permission with fragment @NeedsPermission method never called"
Hello,
I have a very simple application using the PermissionsDispatcher. The main activity contains a fragment annotated with @RuntimePermissions.
When I run the application on the emulator, the dialog are displayed but my method is never called.
The project has the following configurations:
- minSdkVersion: 16
- targetSdkVersion: 23

The generated code look like that:

[code]

[2016-06-08 11:37] hotchemi commented on #157
Could you give us a sample prj?

[2016-06-08 11:53] Bathilde commented on #157
The sample is compiled with android studio.

[MyApplication3.zip](https://github.com/hotchemi/PermissionsDispatcher/files/304679/MyApplication3.zip)

[2016-06-08 15:58] herbertdai commented on #156
I build a new example  project but no error ocurred,  it may be the reason that my project structure is not the stand AndroidStuio-like structure. Still trying on that.

[2016-06-08 16:03] #156 closed

[2016-06-08 16:03] hotchemi commented on #156
Okay.

[2016-06-08 16:04] herbertdai commented on #156
Just like what I tried, after I changed the file structure to the standard  like : ./app/src/androidTest/java/, the test runs ok!

Thanks @hotchemi

[2016-06-08 16:06] #150 closed

[2016-06-09 00:57] shiraji commented on #157
You miss implmenting `onRequestPermissionsResult`

[code]

https://github.com/hotchemi/PermissionsDispatcher#2-delegate-to-generated-class

[2016-06-09 00:59] shiraji commented on #157
BTW, you don't need to do following

[code]

just call withCheck method.

[code]

[2016-06-09 03:23] #157 closed

[2016-06-09 03:23] hotchemi commented on #157
https://github.com/hotchemi/PermissionsDispatcher/issues/157#issuecomment-224774837

[2016-06-09 17:42] levibostian opened #158 "WrongReturnTypeException: Method 'getPath()' must specify return type 'void', not 'android.net.Uri' -- how to debug?"
Hello there. I have implemented PermissionsDispatcher into 2 fragments in my application.

When I compile the code, I receive this exception:

[code]

I simply would like to know, how do I debug this? I searched for my whole code base for `getPath()` usages and the only place that `getPath()` is being called is on a URI that I am creating a file for:

[code]

getPath() is a function of the system.

[2016-06-09 18:12] levibostian commented on #158
Lies. This is not the only thing that is calling `getPath()`. I figured it out as I figured I would.

The error message was not super helpful so it was confusing exactly what it meant. Specifying why it needs to be void would help perhaps?

[2016-06-09 18:12] #158 closed

[2016-06-10 21:27] alexsho opened #159 "Using with SyncAdapter"
Hi,
Very useful library.
I need to get a permissions for sync adapter in Marshmallow.
When i put @RuntimePermission at the top of the class extending from AbstractThreadedSyncAdapter
It fails on compilation (WrongClassException)
Is it the way to use your library with sync adapter ?

[2016-06-10 22:28] shiraji commented on #159
Here is documentation
https://github.com/hotchemi/PermissionsDispatcher#1-attach-annotations

You need to put `@RuntimePermission` at the top of class that extend `Activity` or `Fragment`.

[2016-06-11 05:31] hotchemi commented on #159
@alexsho Yup, Only Activity and Fragment provide permission related methods, so we restrict user to annotate only Activity or Fragment.
I your case, you should show a dialog when the app is first launched. And insert checking code before you start the SyncAdapter(user can revoke permission from setting).

[2016-06-11 05:31] #159 closed

[2016-06-11 13:18] alexsho commented on #159
Thank you.

[2016-06-17 03:31] jmoscatiello opened #160 "Cannot click on 'Allow' for permission"
Hey all,

  I have been using the lib for a while, I love it. I recently updated to a new version of Android 6.0.1 and it seems I can no longer click on the 'Accept' button. Does anyone know why this can be happening or is anyone experiencing it.

Thanks!

[2016-06-17 03:33] hotchemi commented on #160
@jmoscatiello I think it's not a problem of PermissionsDispatcher, it just shows a dialog by calling requestPermission. I think you should submit a bug report to b.android.com!

[2016-06-17 03:33] #160 closed

[2016-06-17 04:16] jmoscatiello commented on #160
Just a note. For my sanity I downloaded the sample and ran it. Same issue. will investigate more.

Thanks.

[2016-06-20 08:35] AleksanderMielczarek commented on #143
I've created such a plugin. You can check it out here: https://github.com/AleksanderMielczarek/AndroidAnnotationsPermissionDispatcherPlugin
It's very simple. It just removes @RuntimePermissions from generated class.

[2016-06-20 08:42] RajeshJadav opened #161 "Delegate class not generated automatically"
Is there any option to generate Delegate class automatically? Currently i have to build entire project then Delegate class is generated

[2016-06-20 09:10] hotchemi commented on #143
Awesome! I'll test it later! Really appreciated!

[2016-06-20 09:16] aurae commented on #161
Annotation processors are invoked during javac compilation, which you need to invoke with `build` or something similar. `assemble` should work as well, though!

[2016-06-21 00:36] shiraji commented on #160
https://code.google.com/p/android/issues/detail?id=213120

[2016-06-21 01:37] jmoscatiello commented on #160
@shiraji Thank you

[2016-06-21 04:50] RajeshJadav opened #162 "How to Handle Permission callback in different method."
Currently I have one method which needs Contacts and Storage permission both. I want to handle its callback and show snackbar message.

I have done like this:

[code]

now i want callbacks differently for both permission so i have done like this:

[code]

But it is not working. is there any other way to do this?

If i have given above permission which are in different permission group and if i all

[2016-06-24 07:11] the-south-snowing opened #163 "duplicate entry:android/support/v4/print/PrintHelperKitkat$1.class"
Error:Execution failed for task ':C2B_Phone:transformClassesWithJarMergingFor_360Debug'.

anybody can help me ?

[2016-06-24 07:42] hotchemi commented on #163
@the-south-snowing I think it's not from this library, because we don't use print stuff you know...
Have you tried rebuild project and delete cash?

[2016-06-24 07:42] #163 closed

[2016-06-24 09:45] aurae commented on #163
Might be a version conflict with the support-v4 library pulling in two variants of the same class. As hotchemi-san said though, not a PermissionsDispatcher issue per se.

[2016-06-24 10:01] hotchemi commented on #163
@the-south-snowing You can try like following:

[code]

@aurae Thx man!

[2016-06-27 13:01] markini opened #164 "Unexpected @OnNeverAskAgain behavior"
Hello, I just want to confirm the expected behavior of `@OnNeverAskAgain`.

I have 3 functions like this:
[code]

When I click on my photo button and deny the permissions with never ask again. The function `onCameraNeverAskAgain` is immediately triggered. Is this the intended behavior?

I expected it to only show when I click on the camera button again (which it also does).

[2016-06-28 09:44] zongxinbo opened #165 "How to generate Delegate class"
I have rebuild my project, but still no delegate class generated.
Please help me.

[2016-06-28 23:31] shiraji commented on #164
If user click with never ask again, then `onCameraNeverAskAgain` is called. AFAIK, this is the expected behavior.

[2016-06-28 23:32] shiraji commented on #165
Could you post the code or minimum project that reproduce this issue? and post the version of android studio, android gradle plugin version, and the PermissionsDispatcher version.

[2016-06-28 23:33] shiraji commented on #162
AFAIK, there is no such way. You need to split `NeedsPermission` or combine `OnPermissionDenied` into one method.

[2016-06-29 02:11] #165 closed

[2016-06-29 02:12] hotchemi commented on #165
@zongxinbo Yes, please check at our sample module with your AndroidStudio and if you still have problem pls post the minimal project.

[2016-06-29 02:51] hotchemi commented on #164
@markini Yup, please see android developers or this slide https://speakerdeck.com/hotchemi/managing-runtime-permissions?slide=8

[2016-06-29 02:51] #164 closed

[2016-06-29 02:58] hotchemi commented on #162
@RajeshJadav Exactly. Please split permissions definition!

[2016-06-29 02:58] #162 closed

[2016-06-29 02:59] hotchemi commented on #161
@RajeshJadav https://github.com/hotchemi/PermissionsDispatcher/issues/161#issuecomment-227090527 is definitely correct. This is the limit of the annotation processing.

[2016-06-29 02:59] #161 closed

[2016-06-29 03:00] #143 closed

[2016-06-30 14:04] meierjan opened #166 "feature-request: onPermissionGranted(X) annotation"
I just stumbled across a case in which a callback annotation like "onPermissionGranted" would help me out. Why not add this to the API?

I just helped myself out but doing something like this:
[code]

Although I think it's something not always needed but sometimes it's nice to have.

[2016-07-01 02:01] hotchemi commented on #166
@meierjan
Hi thx for your request.
Isn't it enough to `@NeedsPermissions`? You can declare permission to each annotated method and handle callback as you suggested.

[2016-07-01 02:01] #166 closed

[2016-07-01 02:02] hotchemi commented on #166
Yeah it's definitely nice to have but I would like to keep api simple. Anyway Thx for your suggestion!

[2016-07-01 04:18] mrljdx opened #167 "Build error with AndroidAnnottations"
HI When I use AndroidAnnotations with your permissions dispatcher ,there is a error as belows:

``>``permissions.dispatcher.processor.exception.NoAnnotatedMethodsException: Annotated class 'MainFragment_' doesn't have any method annotated with '@NeedsPermission'

Source code as belows:

        @EFragment(R.layout.fragment_main)
        @RuntimePermissions
         public class MainFragment extend

[2016-07-01 04:53] shiraji commented on #167
Check this plugin https://github.com/AleksanderMielczarek/AndroidAnnotationsPermissionsDispatcherPlugin

#143 is the issue we talked about AA plugin.

[2016-07-01 04:53] #167 closed

[2016-07-01 05:25] hotchemi commented on #167
Totally.

[2016-07-01 08:08] aurae opened #168 "Endorse AA plugin in README"
Let's consider adding a section on `AndroidAnnotations` in the README, in which we redirect people to [Aleksander's plugin](https://github.com/AleksanderMielczarek/AndroidAnnotationsPermissionsDispatcherPlugin). This could be generalized into an "Integration" section in the future once we add support for more frameworks, but since AA is the only one right now, we should add it like that.

What do

[2016-07-01 08:12] hotchemi commented on #168
@aurae You don't have to ask us cuz you have a commit bits! :D And I definitely agree with your proposal!

[2016-07-01 10:56] meierjan commented on #166
Hey, the difference is that the NeedsPermission annotated method is executed always where as the "onPermissionGranted" annotation would be executed only in that case. But thanks for the heads up

[2016-07-01 12:51] aurae commented on #166
So you're talking about a one-time callback method that only gets invoked after the permission is granted "for the first time", and skipped in case that permission had already been granted?

[2016-07-01 15:32] meierjan commented on #166
Exactly. I think this fits pretty good into the philosophy as all other callbacks are there except this one.

[2016-07-01 15:34] hotchemi commented on #166
FYI: You can do that by writing your own `onRequestPermissionsResult`(not delegating the work to generated class).

[2016-07-01 17:22] meierjan commented on #166
Yeah, like I posted in my issue - up there. It was just a feature request. Thanks for the heads up

[2016-07-06 02:25] chow890115 commented on #139
I think u should develop another version to implement AA , and keep the current going is better:D

[2016-07-07 13:35] acrolink commented on #155
I have the same question.. Thanks

[2016-07-07 13:51] shmueldw commented on #155
What is a question?

[2016-07-07 13:59] shmueldw commented on #155
[code]

[2016-07-07 14:34] acrolink commented on #155
Thank you @shmeuldw .. I will give this project full testing later .. Interesting

[2016-07-07 15:27] hotchemi commented on #155
Yup!

[2016-07-07 16:32] acrolink commented on #155
So, at each point in my code when I need to access internet/camera/device info etc I would have to ask for authorization? Or can this be made one time on app start in MainAcrivity?

[2016-07-08 09:03] acrolink commented on #155
**UPDATE**

Now I have just unraveled the power of this code, not all that complicated after all. Thank you guys.

[2016-07-08 09:05] acrolink opened #169 "How to delegate to a class other than MainActivity"
In the examples you state (inside onCreate):

[code]

How to do the same inside a custom class, a one that extends for example Intent Service? Thank you.

[2016-07-08 09:07] hotchemi commented on #169
We only support Activity and Fragment because `requirePermissions` method is in them, what `custom class` means?

[2016-07-08 10:51] acrolink commented on #169
@hotchemi In my app I have created a class that extends IntentService. I use that class to read/write to a local storage file. What I understand from your answer is that PermissionsDispatcher supports only Activity and Fragment, so it looks like any permissions needed by my IntentService type class must be obtained within MainActivity or within a Fragment activity.

[2016-07-08 11:24] hotchemi commented on #169
@acrolink Exactly. You have to do the same thing even you decide to not to use PermissionsDispatcher.

[2016-07-08 11:24] #169 closed

[2016-07-08 13:58] aurae commented on #169
The problem with runtime permissions within `Service` classes comes with their lack of user-facing UI, which makes it cumbersome to show a dialog to the user.

I outlined what I'd call an "acceptable solution" to this problem [in another issue recently](https://github.com/hotchemi/PermissionsDispatcher/issues/34), please check it out and consider if implementing this Notification-based approach wo

[2016-07-09 10:21] roostaamir opened #170 "How to call showRational() method for @OnNeverAskAgain event"
I am using Permission dispatcher plugin and when the user clicks never ask again, the activity freezes.
I want to show the user the Rational dialog when the user checks the never ask again dialog and enters the application again.

currently the app will freeze when the user checks never show this again

what should I do?

[2016-07-09 10:42] roostaamir commented on #170
it looks like checking `don't ask again` results in @OnPermissionDenied to be called infinitely. What is the problem?

[2016-07-10 07:47] shiraji commented on #170
Could you post your code that is related to PermissionsDispatcher?

[2016-07-10 19:35] hotchemi commented on #170
@roostaamir Could you give us an example?

[2016-07-11 07:28] r-ralph opened #171 "Annotated method with internal modifier cause wrong kapt generation"
I'm using PermissionDispatcher with kotlin and kapt. I found strange behavior in PermissionDispatcher.
Creating method annotated with `@NeedsPermission` and add `internal` modifier, then created class `***PermissionsDispatcher` looks

[code]

Annotated method is below.

[code]

Generated method and variable name may be wrong and it may be bug.
### Enviroment
- Android Studio 2.1
- Android Gradle P

[2016-07-11 08:52] #170 closed

[2016-07-12 15:02] muetzenflo opened #172 "Proguard can't find referenced class FragmentCompat"
Hi!

In this file: https://github.com/hotchemi/PermissionsDispatcher/blob/master/library/src/main/android/permissions/dispatcher/v13/V13Access.java

you are referencing android.support.v13.app.FragmentCompat
When using your library with ProGuard there are 3 warnings preventing a successful build:

[code]

I already tried to add proguard rules like

[code]

but to no avail. Do you have any hint, ho

[2016-07-12 15:25] aurae commented on #172
I assume you're not using the support-v13 library in your build? Access to this optional dependency is guarded by this `V13Access` class, and only used if you provide that dependency anyway. If you don't, then ProGuard might get confused since it doesn't understand this case.

You should be able to suppress this warning using:
`-dontwarn permissions.dispatcher.v13.**`

Thanks for bringing this up

[2016-07-12 15:45] hotchemi commented on #172
@muetzenflo Could you check https://github.com/hotchemi/PermissionsDispatcher/issues/172#issuecomment-232083699? Currently we've not bundled any proguard rules but it's worth to try :D

[2016-07-12 15:49] hotchemi commented on #171
@r-ralph Thx, I think this issue is caused by getting different information from annotation processor API, but I'm not sure how internal method is inlined at compile time actually...
Is it possible to deal with this issue by not adding internal for the time being?

[2016-07-12 15:57] muetzenflo commented on #172
@aurae Thanks, the dontwarn flag did work. And yes: A proguard-section in the readme is always nice! :+1:

[2016-07-13 06:32] shiraji commented on #172
So, basically following tasks to do.

add following code in build.gradle

[code]

create new file called proguard-rules.txt

[code]

Do we still need README's proguard section? Maybe just say "Don't worry! you can use proguard without any setting for this library!"

Let me reopen this issue.

[2016-07-13 07:01] wangxiaote opened #173 "if app op set one permission denied, it will work very strange"
if app op set one permission denied, next time I try to get permissions, and the permission dialog will show; If I click allow button, the APP will be killed and restart.
I debug it,and found that the permission status is PERMISSION_DENIED_APP_OP; it means a app op deny it. and it can not get the permission by request permission dialog of system.

[2016-07-13 07:12] aurae commented on #172
Mentioning that ProGuard is taken care of in the README is a good move, I would say. And yes, the rest is exactly as you described!

[2016-07-13 08:02] muetzenflo commented on #172
I agree with aurae. From a developers point of view it's always nice to have ProGuard information in the readme. It's just a few lines that make things clear upfront.

[2016-07-13 13:10] xubuhang opened #174 "how I use it in eclipse？please tell me."
how I use it in eclipse？

[2016-07-13 15:38] shiraji commented on #174
You can download jar and aar files from bintary https://bintray.com/hotchemi/maven/permissionsdispatcher and https://bintray.com/hotchemi/maven/permissionsdispatcher-processor . I'm not sure how to use aar using ADT though...

To be honest, that is all information we have for you. ADT is officially [no longer supported](http://android-developers.blogspot.jp/2015/06/an-update-on-eclipse-android-dev

[2016-07-13 15:38] #174 closed

[2016-07-13 15:43] r-ralph commented on #171
@hotchemi Thank you for the quick response. I deal with this problem in that way.

[2016-07-13 16:35] hotchemi commented on #174
@xubuhang Yup, our best advice is "Throw Eclipse away.", Sorry!

[2016-07-13 16:41] hotchemi commented on #173
@wangxiaote Could you give us device info and an example which reproduces the problem? We need more info to investigate.

[2016-07-14 05:16] #172 closed

[2016-07-15 03:09] xubuhang commented on #174
thanks, @hotchemi @shiraji .

[2016-07-17 22:48] ligi opened #176 "onRequestPermissionsResult to return if intent was consumed"
currently the generated code looks like this:

[code]

I would suggest to change to this:

[code]

This way duplicate checks can be avoided - what do you think? The file to be changed should be https://github.com/hotchemi/PermissionsDispatcher/blob/master/processor/src/main/kotlin/permissions/dispatcher/processor/impl/BaseProcessorUnit.kt - but want to discuss the matter here first

[2016-07-18 00:49] shiraji commented on #176
Could you explain what do you mean "duplicate checks"? I really want to know what you want to accomplish.

You missed this return value. Is it true or false?

[code]

What will be the expected return value if developer asks multiple permission in one Activity/Fragment?

It will generate following code

[code]

[2016-07-18 00:56] ligi commented on #176
yea sorry - was a stupid idea - just had a lot of onActivityResult with this pattern and thought not 100% awake that it could make sense to apply here - on a second thought it is not really useful here - closing

[2016-07-18 00:56] #176 closed

[2016-07-18 00:59] shiraji commented on #176
No, it's not stupid. If there is other features that make this library better, please don't hesitate to tell us. Thanks for reporting this.

[2016-07-25 05:08] a1018875550 opened #177 "If I has two method need same permission,How to distinguish it's for `OnShowRationale`?"
If I has two method need same permission,How to distinguish it's for `OnShowRationale`

[2016-07-25 05:27] #173 closed

[2016-07-25 05:28] hotchemi commented on #173
There is no enough information yet so I'm gonna close. Pls reopen if you're still in trouble.

[2016-07-25 05:29] hotchemi commented on #177
@a1018875550 If you declare same permission on **different** Activities or Fragments it will be handled as different thing. Isn't it enough?

[2016-07-25 05:32] a1018875550 commented on #177
I have some defferent require  in a Activity,but they alse need the permission of "Camera";So how to distinguish of them

[2016-07-25 05:36] hotchemi commented on #177
Can you try like the following? If that doesn't work well, it seems currently we have no way to do that. So improvement is needed.

[code]

[2016-07-25 12:57] hotchemi commented on #177
@a1018875550 Did it work well?

[2016-07-26 01:50] a1018875550 commented on #177
No it's dosen't work;the Android Studio note
`Error:Execution failed for task ':mazi:compileDebugJavaWithJavac'.> permissions.dispatcher.processor.exception.DuplicatedValueException: [android.permission.CAMERA] is duplicated in 'showRationaleForCamera()' annotated with '@OnShowRationale'`

[2016-07-26 02:04] hotchemi commented on #177
@a1018875550 Sorry to hear that.
Currently we don't provide the way to handle same permissions in the same Activity/Fragment.
So my current best advise is creating different Activity/Fragment and put the other permission to it...Is it possible?

[2016-07-26 02:16] a1018875550 commented on #177
;It's like possible for now If put other permission to one of it; But It's not a permanent solution；
You can add a int value to `@NeedsPermission` and others to distinguish them,this is my suggest hope you find a better solution; Thank you very much!

[2016-07-26 02:23] hotchemi commented on #177
Yep we actually thought that feature before but we dropped it because it complicates the library itself. But I think it's worth to reconsider? What do you think @aurae @shiraji ?

[2016-07-26 06:59] aurae commented on #177
In case the permission signature is identical for both permission-protected methods, do you even need to have different rationales? I'd argue that they would report pretty much the same thing to the user, so a single rationale method usually suffices for most use cases.

However, I'd be okay with adding tags to annotated methods, if we can ensure that it doesn't require changes for all current use

[2016-07-26 07:16] a1018875550 commented on #177
thaks

[2016-07-26 21:04] ludovicroland opened #178 "compileDebugJavaWithJavac fails with WrongParametersException when using Kotlin"
I'm trying to use this Library in a Kotlin project, but I'm running into some issues when I try to build it. This is the error I'm getting:

[code]

This happens with Kotlin version 1.0.1, Android Studio 2.1.2, Gradle version 2.10, Gradle Android Plugin 2.1.1 and JDK 1.8.0 update 92.

This happens with the PermissionDispatcher library versions :
* 2.0.9
* 2.1.0
* 2.1.1
* 2.1.2
* 2.1.3

As announce

[2016-07-26 21:13] ludovicroland commented on #178
Forget... I really missed the `PermissionRequest` into the function... Sorry...

[2016-07-26 21:13] #178 closed

[2016-07-26 23:03] jschnall commented on #35
Why was this closed?  I'm still seeing the issue.  My gradle files look just like what shiraji has posted above.

[2016-07-27 02:16] hotchemi commented on #35
Yup it's the general problem of Gradle.

[2016-07-27 02:17] hotchemi commented on #177
@aurae Thx for your comment, I didn't realised that but that's the good point.

[2016-07-27 02:54] shiraji commented on #177
I still don't see the point of requiring the same permissions in one Activity/Fragment. Other than that, I have pretty much the same opinion with @aurae

So, let's think about how the tag works.

* tag should be option
* If a developer sets a tag in `@NeedsPermission`, he/she must provides permissions and the tag to all `@OnShowRationale`, `@OnPermissionDenied`, `@OnNeverAskAgain`.
* This means in

[2016-07-27 02:58] hotchemi commented on #177
@shiraji Thx, actually @aurae proposed almost the same idea before at https://github.com/hotchemi/PermissionsDispatcher/issues/18#issuecomment-136099353 but at that time I wanted to keep this library simple so didn't implement.

[2016-07-31 07:56] kensoon opened #179 "How can I use OnNeverAskAgain?"
I don't know how to use the PermissionsDispatcher to invoke the OnNeverAskAgain.Can anybody tell me how to use it, thinks a lot!

[2016-07-31 08:12] shiraji commented on #179
Have you read README?

[2016-07-31 08:41] hotchemi commented on #179
@kensoon If you define a method which is annotated with OnNeverAskAgain, it'll be called when user denied a permission with "never ask again" check.

[2016-07-31 08:41] #179 closed

[2016-07-31 09:46] Witype opened #180 "I have a problem when use PermissionsDispatcher"
I ask MultPermission like
[code]
when I allow on of the permission and denied the other permission,Next time open the app also will request the permission which has been allowed,
this is my problem!!!

[2016-07-31 11:57] hotchemi commented on #180
@Witype Please check https://github.com/hotchemi/PermissionsDispatcher/issues/69, This is the Android Framework default specification and we just follow it.

[2016-07-31 11:57] #180 closed

[2016-08-03 18:29] tux-world opened #181 "PLEASE CLOSE THIS ISSUE"

[2016-08-04 09:52] HelLViS69 opened #182 "Is there a way to use this library on class with static methods?"
I successfully use this library in my apps, but now I ran into this error:

Obviously, in a static method I can't access 'this'.. I also tried to pass the Context in other ways but the error still remains and I can't compile

[2016-08-04 11:06] tux-world opened #183 "Android implementing realtime permission managment not working"
I'm trying to implementing PermissionsDispatcher library on my project, but it doesn't work correctly for my project and don't ask permission, after read more the library source and implementing project like with that my doing work is not successful

[code]

And MainActivityPermissionsDispatcher class to handle Permission like with the library sampple code:

[code]
I can't find whats problem which

[2016-08-04 11:10] #181 closed

[2016-08-04 11:16] tux-world commented on #182
@HelLViS69 could you help me on this issue? https://github.com/hotchemi/PermissionsDispatcher/issues/183 i cant implementing that, and dont ask permission with me

[2016-08-04 11:26] shiraji commented on #183
Have you rebuild this project after renaming a method `syncByServer` from `showContact`?

[2016-08-04 11:29] HelLViS69 commented on #182
@tux-world You have to call ActivityContactLists.syncByServerWithCheck() instead of syncByServer()

[2016-08-04 11:31] HelLViS69 commented on #183
You have to call ActivityContactListsPermissionsDispatcher.syncByServerWithCheck() instead of syncByServer()

[2016-08-04 11:40] shiraji commented on #182
https://github.com/hotchemi/PermissionsDispatcher#1-attach-annotations

`@RuntimePermissions` Register an Activity or Fragment to handle permissions

Other that than, this library give you compile error.

[2016-08-04 12:12] tux-world commented on #183
@HelLViS69 Thank you very much sir. after rename  ```MainActivityPermissionsDispatcher.showContactsWithCheck``` on activity to ```MainActivityPermissionsDispatcher.syncByServerWithCheck(this);``` and rename  ```showContactsWithCheck``` method to ```syncByServerWithCheck``` my problem not resolved, could you review again my upadted issue?

[2016-08-04 12:20] tux-world commented on #183
@shiraji could you review again? my post updated

[2016-08-04 12:27] shiraji commented on #183
Could you give me a project? It really hard to review code in issue.

[2016-08-04 12:32] shiraji commented on #183
As @HelLViS69 said before,

[code]

This should be

[code]

[2016-08-04 12:34] tux-world commented on #183
@shiraji Thank you very much sit. problem solved, :)

[2016-08-04 12:35] shiraji commented on #183
Awesome! Thanks for using this library!

[2016-08-04 12:35] #183 closed

[2016-08-04 12:35] HelLViS69 commented on #182
So, it's quite impossible to use it in an utils/helper class..

[2016-08-04 12:35] tux-world commented on #183
@shiraji Thanks to release and support this library, Good Luck

[2016-08-05 02:16] hotchemi commented on #182
@HelLViS69 Why do you need to annotate util class? I can't find appropriate reason to do that.

[2016-08-05 07:50] HelLViS69 commented on #182
Hi @hotchemi , simply because I have a static method to execute a phone call and other stuff I use in various parts of the app, so it's more comfortable to have those methods in a dedicated util class instead of rely them in an activity. In this way I can call those methods from all the activities

[2016-08-07 13:32] emarc-m opened #184 "Calling XxxPermisionDispatcher.yyyWithCheck onResume will cause loop @OnNeverAskAgain"
if XxxPermisionDispatcher.yyyWithCheck(target) is called onResume for activity, once the permission is permanently denied, the method @OnNeverAskAgain will be called in an infinite loop.

The reason I'd like to call  XxxPermisionDispatcher.yyyWithCheck onResume is because if the user goes to app settings and manually turns of the permission on the app, PermissionDispatcher will be able to detect t

[2016-08-07 13:54] hotchemi commented on #184
@emarc-m Hi, this problem was reported on https://github.com/hotchemi/PermissionsDispatcher/issues/90 and the solution is calling WithCheck method in onStart. Is it okay for your case?

[2016-08-07 14:03] emarc-m commented on #184
@hotchemi thanks for the quick response. I think the solution in #90 will be enough. Thanks for the help and good work on the library!

[2016-08-07 14:03] #184 closed

[2016-08-08 04:13] hotchemi commented on #177
@shiraji Are you working on this issue?

[2016-08-08 04:15] hotchemi commented on #182
@HelLViS69 I think you should handle permissions stuff on Activity/Fragment even if you declare these methods in util class. Because Android Framework just provides requestPermission method on Activity and Fragment. And we don't plan to make it being possible to annotate on Util class.
Anyway thx for your question!

[2016-08-08 04:15] #182 closed

[2016-08-08 04:55] shiraji commented on #177
Not yet. You can take it.

2016年8月8日(月) 13:13 Shintaro Katafuchi <notifications@github.com>:

[2016-08-08 05:00] hotchemi commented on #177
@shiraji Okay.
In my think this improvement is not mandatory so I'd like to close it if someone is eager to implement that.

[2016-08-08 15:48] #177 closed

[2016-08-12 17:20] ClarkXP opened #185 "Abstract activity always calls to OnNeverAskAgain"
When I accept permissions in a Activity that extends of an abstract activity (the annotations was implemented in the abstract activity), always call to OnNeverAskAgain.

[2016-08-12 17:31] hotchemi commented on #185
Can you give us a example project which reproduces the problem?

[2016-08-12 19:13] ClarkXP commented on #185
Hi @hotchemi. Please close the issue. I did a merge recently from other developer and he commented a permission in the manifest.

Thanks

[2016-08-12 19:13] #185 closed

[2016-08-16 09:14] romshiri commented on #154
Hi @hotchemi , can you elaborate more on this issue?
Does it mean you can't add this kind of permission so only newer versions (Android 6.0 and above) will requested to grant this permission?

[2016-08-19 02:18] hekaidaqaz opened #186 "MainActivityPermissionsDispatcher"
MainActivityPermissionsDispatcher auxiliary class cannot automatically generated, I are according to the step by step operation

[2016-08-19 02:48] shiraji commented on #186
Rebuild?

[2016-08-19 10:05] a1018875550 opened #187 "Could you push the processor library for java code"
I want to add some code for "Xiaomi" mobile.Because the mobile has some different for normal moible; But I see your processor library is using the kotlin,I don't know how to use the kotlin; so could you push the processor libray for java code; Thanks;

[2016-08-19 10:13] hotchemi commented on #187
Sorry, I can't understand...you mean you want to copy the logic?

[2016-08-19 13:02] a1018875550 commented on #187
yes, I want rewrite to my request;but youre code is kotlin and I can't understand kotlin;So ,do you have java code for the processor library?

[2016-08-19 13:09] LouisCAD commented on #168
@aurae Are you working on this? If you're not, I'm going to update the README today so it's finally done :wink:

[2016-08-19 15:06] aurae commented on #187
If you just want to use the library, you don't need to have Kotlin in your project whatsoever! It works fine in your Java projects as well. If you'd like to explore the source of our annotation processor, I'd suggest checking out the repo's history until you arrive at the 1.x releases of the library, since it has only been rewritten using Kotlin in 2.0.0.

The chances of us undergoing the language

[2016-08-19 15:08] a1018875550 commented on #187
thanks,and the 1.x library is sample to 2.x?

[2016-08-19 15:50] aurae commented on #168
I haven't found time yet, no, so you're more than welcome to go ahead! :)

[2016-08-19 15:52] aurae commented on #187
There were a few additions to the feature set in 2.x, but it's still mostly the same. The most notable change was the inclusion of native Fragments using an optional dependency, which wasn't available in 1.x.

You can check out our [migration guide to 2.x](https://github.com/hotchemi/PermissionsDispatcher/wiki/Migrating-to-2.x) for details on the changes, but you'll see that it's been mostly just

[2016-08-19 15:52] #187 closed

[2016-08-19 16:08] hotchemi commented on #187
@a1018875550 You can see the source code of the latest 1.x here.
https://github.com/hotchemi/PermissionsDispatcher/tree/1.2.1

Btw can you tell us the plan you're gonna change? Just my interest but I might be able to give you a "folk" of this library for you.

[2016-08-19 16:12] hotchemi commented on #186
@hekaidaqaz Have you tried rebuild? If rebuild doesn't help you please have a try with [official sample](https://github.com/hotchemi/PermissionsDispatcher/tree/master/sample).

[2016-08-19 16:12] #186 closed

[2016-08-19 16:12] hotchemi commented on #186
Please reopen if needed.

[2016-08-19 16:37] a1018875550 commented on #187
yeah,Do you the "Xiaomi" chinese  mobile; As you know the android is opend;So they take the android source  put their mobiles but they change some code like the permission ; In "Xiaomi" mobile it's not same as usual to check the permission; Like this to check permission for camera:
<img width="889" alt="qq20160820-0 2x" src="https://cloud.githubusercontent.com/assets/8246218/17816811/b42538c8-666d

[2016-08-19 16:49] hotchemi commented on #187
Oh dear...not trivial change....
If you use current ver of the library, what kind of mistake will happen?

[2016-08-19 16:55] a1018875550 commented on #187
the library dosen't work; and the application sometime crashed and the log note me I didn't check permissions, sometime the screen goes black ;

[2016-08-20 04:57] #168 closed

[2016-08-20 13:32] hekaidaqaz commented on #186
Thank you, solve the

[2016-08-22 06:59] tekinarslan opened #189 "Auto generated class not generated"
Hi,
I added library and apt dependency in my library module module, and I add annotations in my fragment(I want to use only fragment). But, auto generated class not generated. After that, I moved dependency in app gradle and class was generated. How can I use this lib in my module project ?

Thanks,

[2016-08-22 07:13] hotchemi commented on #189
@tekinarslan Can you give us a sample? Probably you didn't set apt-plugin or something.

[2016-08-22 07:32] tekinarslan commented on #189
sorry.I missed it, I was added plugin into my project module. I will try move and response you. Thanks

[2016-08-22 07:39] #189 closed

[2016-08-22 07:39] hotchemi commented on #189
@tekinarslan My pleasure 😃

[2016-08-22 07:50] tekinarslan commented on #189
I added "apply plugin: 'android-apt'"  into my app and add dependencies into my library module .Class not generated. When I moved dependencies into my app gradle, Class was generated.
My purpose is that I will add your lib into my lib module as gradle and I use my apps.
Thanks

[2016-08-22 07:52] hotchemi commented on #189
Please apply apt plugin to the lib module s well.

[2016-08-22 08:00] tekinarslan commented on #189
Added, not generate class. This class only generate this state:
added in my my app gradle:
 apt 'com.github.hotchemi:permissionsdispatcher-processor:2.1.3'
    compile 'com.github.hotchemi:permissionsdispatcher:2.1.3'
apply plugin: 'android-apt'

Please can you define steps for library project? Also I see that you added library directly into your sample gradle, Could you try compiled version of th

[2016-08-22 10:30] hotchemi commented on #189
Can you give us an example which can reproduce the problem? We can't investigate with such a few info.

[2016-08-22 10:36] hotchemi commented on #154
@romshiri Sorry for the late. Currently uses-permission-sdk-23 is treated as not granted if you support less than 23 api level. It means you gotta treat all permissions as just `uses-permission`.
So this enhancement will solve that.

[2016-08-22 13:22] a1018875550 commented on #187
@hotchemi Could you add this judgment for "Xiaomi" phone;the latest 1.x version run results is very different for the latest 2.x version;And it's not easy to read kotlin for me; And the code for check permissions to "Xiaomi" phone is same as the code in the picture;Just  add AppOpsManger for every permission code;

[2016-08-22 13:27] hotchemi commented on #187
@a1018875550 I can't collect enough info of Xiaomi thingy so please feel free to folk it!

[2016-08-23 09:04] Turbo87 commented on #187
@a1018875550 don't forget to add the original LICENSE file to your [fork](https://github.com/a1018875550/PermissionDispatcher)

[2016-08-24 10:55] shenxiaolin opened #190 "Can i used on RuntimePermissions in baseActivity?"
Hi
   I write a BaseActivity, and used @RuntimePermissions in this class file.
  Then i new A extends BaseActivity.
   I see a auto generated BaseActivityPermisstionDispatcher class.
   so my question is A class can used BaseActivityPermisstionDispatcher check Permission method???
  or Just only used this BaseActivityPermisstionDispatcher method in BaseActivty??

[2016-08-24 11:13] hotchemi commented on #190
@shenxiaolin We've not actively thought about it so how is the result?

[2016-08-24 12:25] shenxiaolin commented on #190
I see final class BasePermissionActivityPermissionsDispatcher
this class is final class and just used in one package.
do you think it to change public?

[2016-08-24 12:27] cike2056 opened #191 "Revoking permissions through phone's Settings , will cause application crash while application is running"
Whether you add an interface method used to monitor revoked permission? thx

[2016-08-25 01:06] shenxiaolin commented on #191
i occur same problem when user close location permission and application live in background.
I need to monitor revoked permission.
Who can tell us how to do fix it.

[2016-08-25 06:11] cike2056 commented on #191
@shenxiaolin 如果targetSdkVersion <23可以解决权限问题，但是算不上是真正解决。

[2016-08-25 06:21] hotchemi commented on #191
@cike2056 @shenxiaolin You should call method onStart(please do not call it onResume which causes infinite loop.
By the way you should not ask library's usage on issues. Please use StackOverflow.

[2016-08-25 06:21] #191 closed

[2016-08-25 06:21] hotchemi commented on #191
And I can't read Chinese at all.

[2016-08-25 06:22] hotchemi commented on #190
@shenxiaolin We don't value that kind of improvement. You can deal with that by annotating each extended class right? We don't want to complicate the usage anymore.

[2016-08-25 06:22] #190 closed

[2016-08-25 07:02] cike2056 commented on #191
@hotchemi 解決でき、兄さん。すべての発進方法は傍受でクリックした。
情景はたぶん応用転入楽屋は、携帯電話で、再び設置閉鎖権限に応用が崩壊した。

[2016-08-25 08:02] cike2056 commented on #191
翻訳ソフトウェア表现できないという意味だ.翻訳誤っ.
Using down emoji inappropriately, china-japan friendship, great good.

[2016-08-25 09:49] hotchemi opened #192 "maxSdkVersion support"
ref: https://developer.android.com/guide/topics/manifest/uses-permission-element.html

### Overview

`<uses-permission>` element has an attribute which is called maxSdkVersion.
For example `getExternalFilesDir(String)` and `getExternalCacheDir()` require READ_EXTERNAL_STORAGE permission when api lever is 19 or lower.
So in that case it's better to not to ask permission granting. Just deal with "gr

[2016-08-26 04:06] a1018875550 commented on #187
@hotchemi  the <a href="https://github.com/hotchemi/PermissionsDispatcher/blob/master/processor/src/main/kotlin/permissions/dispatcher/processor/impl/BaseProcessorUnit.kt"> ADD_WITH_CHECK_BODY_MAP</a>
what's means;How to achieve this for Java? Thanks!

[2016-08-26 04:12] hotchemi commented on #187
Deal with by yourself.

[2016-08-30 08:24] tux-world opened #198 "Won't you like to know which application are using this library?"
Won't you like?

[2016-08-30 08:26] hotchemi commented on #198
Yup, we already have users list here but contribution is welcome.

https://github.com/hotchemi/PermissionsDispatcher/wiki/Users

[2016-08-30 08:37] tux-world commented on #198
@hotchemi very good, could you add this application on google play: https://play.google.com/store/apps/details?id=com.pishguy.androidapplication.shootpaymentservice

after add that, please remove this issue

[2016-08-30 08:43] hotchemi commented on #198
@tux-world Addressed. Thx for your cooperation!

[2016-08-30 08:43] #198 closed

[2016-08-30 08:46] tux-world commented on #198
@hotchemi any time sir, Thanks to release and support this useful library

[2016-09-06 10:14] Alex-ZHOU opened #199 "The Delegate to generated class"
I see the Usage,but I used this lib happened something strange.
[code]

This method I don't know how to use because it has second parameter.It don't like as  Usage,and it don't delegate the class like the demo.

[2016-09-06 10:41] shiraji commented on #199
Do you add `@NeedsPermission` to `onCreate(Bundle)` method?

[2016-09-06 11:03] Alex-ZHOU commented on #199
Yes.

[2016-09-06 11:19] hotchemi commented on #199
@Alex-ZHOU Don't add an annotation to onCreate. You should separate exact process to a method.

[2016-09-06 11:19] #199 closed

[2016-09-06 11:20] aurae commented on #199
I would advice against annotating something like `onCreate`, since you aren't in control of calling it yourself - the framework is. Therefore, you would have to extract your permission-protected code out of the onCreate and into another method, then annotate *that* one.

[2016-09-06 11:37] hotchemi commented on #199
Thx contributors!

[2016-09-07 01:29] Alex-ZHOU commented on #199
Thanks you very much for finish my question and give me suggestion.

[2016-09-07 11:14] muetzenflo opened #200 "add parameter(s) to the @NeedsPermission method"
A method that needs a permission is called like this:

<pre>
MainActivityPermissionDispatcher.myMethodWithCheck(this);

@NeedsPermission(...)
void myMethod() { ... }
</pre>

Is there any way to add my own parameters to this method call? Something like this:

<pre>
String myArgument = "foobar";
MainActivityPermissionDispatcher.myMethodWithCheck(this, myArgument);

@NeedsPermission(...)
void myMetho

[2016-09-07 11:18] hotchemi commented on #200
@muetzenflo You can do that like here https://github.com/hotchemi/PermissionsDispatcher/blob/master/processor/src/test/java/permissions/dispatcher/processor/data/Source.java#L3042 .

[2016-09-07 11:18] #200 closed

[2016-09-07 11:24] muetzenflo commented on #200
I tried that, but the build failed, because of different number of arguments. After a rebuild it's working now. Sorry to bother you and thanks for this really helpful lib!!

[2016-09-07 11:47] hotchemi commented on #200
My pleasure 😄

[2016-09-17 04:40] huanting opened #201 ""Never ask again" problem"
I think when you use select don't ask again and this function can't use when use want to use.  Maybe it should pop the permission dialog again.

[2016-09-17 05:09] hotchemi commented on #201
Check the behaviour of never ask again.
ref: https://inthecheesefactory.com/blog/things-you-need-to-know-about-android-m-permission-developer-edition/en .

[2016-09-17 05:09] #201 closed

[2016-09-22 07:41] bhargavms opened #202 "Java 7 support?"
Error:Error converting bytecode to dex:
Cause: Dex cannot parse version 52 byte code.
This is caused by library dependencies that have been compiled using Java 8 or above.
If you are using the 'java' gradle plugin in a library submodule add
targetCompatibility = '1.7'
sourceCompatibility = '1.7'
to that submodule's build.gradle file.

[2016-09-22 08:08] shiraji commented on #202
Could you post stacktrace? Does this stop happening if you remove PermissionsDispatcher dependancy?

By the way, this library's targetCompatibility/sourceCompatibility is [1.6](https://github.com/hotchemi/PermissionsDispatcher/blob/master/processor/build.gradle#L6-L7)

[2016-09-22 09:11] bhargavms commented on #202
Im sorry about this, this has nothing to do with your lib

[2016-09-22 09:11] #202 closed

[2016-09-22 09:12] hotchemi commented on #202
ok

[2016-09-23 03:13] 9h0st opened #203 "When Switch to another app, your demo crashed. In my app, it restarted while normal situation just resume"
`E/AndroidRuntime: FATAL EXCEPTION: main
                                                                               Process: permissions.dispatcher.sample, PID: 10374
                                                                               java.lang.RuntimeException: Camera is being used after Camera.release() was called

[2016-09-24 09:28] hotchemi commented on #203
@9h0st Thx for your report. It's not a fault of the library itself but seems sample app has a bug.

[2016-09-25 05:33] #192 closed

[2016-09-27 09:29] hotchemi opened #211 "Mechanism that delegate the check work to users"
ref: https://github.com/hotchemi/PermissionsDispatcher/issues/187

This is definitely unexpected, but some devices like from Xiaomi need different check flow to get the state of permission.
Currently we provide `PermisisonUtils` in library module, but I'm thinking to provide the following interface to allow users to put in their original logic.

[code]

@aurae @shiraji What do you think?

@a101887

[2016-09-27 12:52] a1018875550 commented on #211
It's a good idea,but it will change the processor code;I will try to achieve it for Java

[2016-09-27 13:41] hotchemi commented on #211
Umm? in that case all you have to do is to create your own checher in Java and just inject it.

[2016-09-27 13:43] a1018875550 commented on #211
Do u just need the `XiaomiChecker.class`?

[2016-09-27 13:55] hotchemi commented on #211
If we will impl that yes, user's task is to create checker class on app side and just inject it.

[2016-09-27 14:57] aurae commented on #211
I'm not against the idea of generalizing the "PermissionChecker" implementation per se, however I'm curious as to what the generalized interface would look like? @a1018875550, can you explain in greater detail the differences of Xiaomi's implementation for runtime permissions, compared to stock Android? Specifically, how do rationales and the "never ask again" mechanism work?

I'm picturing an ext

[2016-09-27 16:06] shiraji commented on #211
@aurae are you saying we are going to generate `PermissionUtils` class at compile time? How to accomplish extension mechanism? It still depends on what @a1018875550 answer but I'm interested to your idea.

[2016-09-27 16:12] hotchemi commented on #211
I guess the only difference is here. We have to use `AppOpsManager` to get the state of permission correctly, right? @a1018875550

https://github.com/a1018875550/PermissionDispatcher/blob/master/library/src/main/android/org.jokar.permissiondispatcher.library/PermissionUtils.java#L128

[2016-09-27 16:21] hotchemi commented on #211
And one more reason I proposed the feature that delegates the check to user is we can deal with similar problem like particular device from **awesome** hardware manufacturer would have a different permission mechanism...
I hope it won't occur but this is Android platform, it's probable...so in that case we don't want to distribute each special library right? The simplest solution is delegation its

[2016-09-27 16:23] a-jahanshahlo commented on #153
oh I'm get mistake!
Please use like this instruction:
[Your Activity Name]PermissionsDispatcher

Ha ha ha.

[2016-09-27 16:28] hotchemi commented on #153
@a-jahanshahlo Here! https://github.com/hotchemi/PermissionsDispatcher/blob/master/README.md#2-delegate-to-generated-class

[2016-09-27 16:46] a-jahanshahlo commented on #153
@hotchemi  thank you to your link.
unfortunately I'm not above link before.
I'm know about this project on this link:
http://guides.codepath.com/android/Managing-Runtime-Permissions-with-PermissionsDispatcher

Thanks Again.

[2016-09-27 17:14] hotchemi commented on #153
@a-jahanshahlo Cool! But it's not under our management...😅 Can you open an issue there?

[2016-09-27 17:49] aurae commented on #211
@shiraji I was piggy-backing off Katafuchi-san's original idea, which is to allow users to provide the "checker implementation" within the `@RuntimePermissions` annotation. We'd have to generalize an interface that PermissionsDispatcher's processor uses to perform the checks, for instance:

[code]

Then, within our `permissionsdispatcher` artifact, we would include the default implementation which

[2016-09-27 18:25] a-jahanshahlo commented on #153
😅😅😅😅😅😅😅😅😅😅😅😅😅😅v

[2016-09-27 23:02] shiraji commented on #211
Oh i see. I was thinking a plugin feature that AutoValue or AndroidAnnotation provide. Let other developers extends it. Like "AndroidAnnotationsPermissionsDispatcherPlugin". I didn't like adding both `DefaultChecker`(ProcessorUtils) and `XiaomiChecker` to Xiaomi device. Maybe there is no such way or requires breaking changes... At this moment, I could not come up better solution other than @hotche

[2016-09-28 01:17] a1018875550 commented on #211
I know your worried!The xiaomi phon has one hundred million users in China.So I must do special judge for it as A Chinese Android Developer.And I think @hotchemi make a very good idea.Because not only has one phone change the permission rule in the world!If we use this idea,when other developers want to add they check ,we don't need to change the plug code .The plug became very useful 😋

I'm sorry

[2016-09-28 01:20] a1018875550 commented on #211
@hotchemi yes it only add AppOpsManager juggle in  "xiaomi" phone

[2016-09-28 04:24] hotchemi commented on #211
@aurae @shiraji Thx for giving your thoughts and digging into more detail! My idea is definitely what @aurae explained above.

@a1018875550 Thx for your check. So I'm gonna implement this mechanism by next release.

[2016-09-30 07:49] EnriqueRqox commented on #67
@Kevin-Leung can you explain how you solved the problem please. I am having troubles with that, it doesn't create the helper class and I don't know why.
My project uses Java 1.8 and sdk 24. Thanks in advance.

[2016-09-30 08:06] hotchemi commented on #67
@EnriqueRqox Have you tried rebuild project with Android Studio. It will solve the problem.

[2016-09-30 08:24] EnriqueRqox commented on #67
@hotchemi Yes, I have thied several times and always the output is:
Error:(59, 9) error: cannot find symbol variable ActivityRequestPermPermissionsDispatcher
Error:(146, 9) error: cannot find symbol variable ActivityRequestPermPermissionsDispatcher
Error:Execution failed for task ':app:compileDebugJavaWithJavac'.

I have look at path that @aurae said before and doesn't generate anything.
My code i

[2016-09-30 08:31] hotchemi commented on #67
@EnriqueRqox Did you add android-apt plugin to gradle? To get more info can you give us a sample prj which we can reproduce the problem?

[2016-09-30 08:47] EnriqueRqox commented on #67
@hotchemi That was the key. I forgot to include the plugin and all works except the helper class. I would have spent the whole day trying to find the problem. Thanks very much!

[2016-09-30 08:59] hotchemi commented on #67
My pleasure!

[2016-10-12 14:34] a1018875550 commented on #211
It's very busy for those days;And do I need to pull the interface  code?

[2016-10-12 15:30] hotchemi commented on #211
@a1018875550 Sorry I've been busy as well so let me implement this weekend.

[2016-10-12 15:34] a1018875550 commented on #211
thanks!

[2016-10-19 00:42] xiaoGuy opened #214 "@OnPermissionDenied with multi perimissions"
How do I know which permission was deny when there are multi permissions in @OnPermissionDenied?

[2016-10-19 03:28] hotchemi commented on #214
Currently you can't do that. We define each permission unit by annotation's argument.
If you want to do that I recommend to define `NeedsPermission` per permission.

[2016-10-19 03:28] #214 closed

[2016-10-19 11:38] jasonwyatt opened #215 "Allow the specification of the request code for each @NeedsPermission method"
It would be nice to be able to manually specify the `requestCode` values used for each `@NeedsPermission` method.  Something like the following:

[code]

This would allow consumers of PermissionsDispatcher to not have to worry about collisions with their own requestCodes they may already have in place for other purposes.

[2016-10-19 14:18] aurae commented on #215
Yeah, we've actually discussed this before. It would require some additional logic on the annotation processor's side, since it currently uses auto-incrementing integers as request codes. If we allow users to provide their own codes, this could cause collisions. I'm open to the idea though, and it should be a fairly straightforward extension that I could deliver over the next couple of days.

What

[2016-10-19 14:42] hotchemi commented on #215
Well, before implementing that I'd like to clarify the exact use case.

I can't come up with the situation since request codes are generated incrementally and these are only used inside of the generated java classes right? They wouldn't collide, I guess.

@jasonwyatt Can you give us more detail?

[2016-10-19 15:06] jasonwyatt commented on #215
A simple example would be where you've got an activity which is already performing a check for permissions using the ActivityCompat apis directly.  Clearly, it must have already defined a particular `requestCode` that it associates with that existing permission request.

If that `requestCode` was set to `0`, then it will collide with the generated `requestCode` used by PermissionsDispatcher the ve

[2016-10-19 15:20] hotchemi commented on #215
Noted. But in that sense how about replacing existing permissions code to PermisisonsDispatcher?
I guess it simplify the code base and you don't have to worry about requestCode stuff anymore.

[2016-10-19 15:36] jasonwyatt commented on #215
I suppose that could work.. What would that look like?

[2016-10-19 15:40] hotchemi commented on #215
Umm? I dunno your code but can't you replace with PermissionsDispatcher's annotations?
I mean you don't have to keep requestCode value so just replace and it would work.

[2016-10-19 16:34] jasonwyatt commented on #215
Ohh I thought you meant something new would go into PermissionsDispatcher to pass the requestCode along to the `xxxxxxWithCheck(...)` methods.

Yeah that could work, and is what I did on my project, but it might be nice to add the flexibility for other consumers of the library (especially large consumers, to make adopting PermissionsDispatcher in an incremental way more feasible)

[2016-10-19 16:47] aurae commented on #215
I agree that the environment of the runtime permission model, as exposed through PermissionsDispatcher, should remain as hermetic as possible, since the benefits to opening up something like custom request codes are negligible for all use cases that I can come up with. If replacing your existing manual logic also with PermissionsDispatcher works for you, @jasonwyatt, then this should be preferred

[2016-10-19 16:57] hotchemi commented on #215
Totally agree with @aurae 's thought.
Say, we maintain team definitely wanna keep the library interface simple as much as possible.
If user can deal with the problem with current API that's perfect, so let us re-consider when we find the problem that user can't handle anymore with current API.
Anyway thx for your proposal!

[2016-10-19 16:57] #215 closed

[2016-10-20 17:19] Repraance commented on #142
I met the same problem as I thought. After carefully reading the developer documents, I was told that never be opinionated. Thank you all!

[2016-10-27 17:38] felipecastilhos opened #217 "**PermissionsDispatcher Class not gerenated"
Hi,

I did add the annotations:

[code]

But the dispatcher class was not generated so I can't call:
MainActivityPermissionDispatcher.callScheduleWithCheck()

Any idea what I might be doing wrong?

[2016-10-27 21:54] shiraji commented on #217
Rebuild?

[2016-10-28 03:33] hotchemi commented on #217
@felipecastilhos Make sure that you added android-apt plugin and tried rebuild.

[2016-10-31 15:15] KosmynMDC commented on #211
Any update? thanks :D

[2016-10-31 15:58] hotchemi commented on #211
Ah sorry forgot to do that...

[2016-11-06 18:38] rdbrown commented on #217
I have the same issue as @felipecastilhos.

I am using Android studio 2.2.2. and I have enabled annotation processing. I have rebuilt all several times.  Can you give some guidance?  Thanks.
Here is my app build.gradle:
apply plugin: 'com.android.application'
apply plugin: 'android-apt'

android {
    compileSdkVersion 24
    buildToolsVersion "24.0.3"
    defaultConfig {
        applicationId "co

[2016-11-06 22:21] shiraji commented on #217
Are you using both `apt` and `annotationProcessor`? I'm not sure it is possible to do that.

[2016-11-07 05:19] hotchemi commented on #217
@felipecastilhos Did you solve the problem?

@rdbrown Could you try @shiraji 's suggestion? https://github.com/hotchemi/PermissionsDispatcher/issues/217#issuecomment-258715613

[2016-11-07 05:27] rdbrown commented on #217
Not yet, I will try your suggestion tomorrow morning and let you know. Thank you for your quick response.

[2016-11-08 10:11] ShkurtiA commented on #217
In the readme file it has to be added this line: `annotationProcessor 'org.androidannotations:androidannotations:4.0.0'`. It's not mentioned any where if that should be added in app build.gradle

[2016-11-08 10:25] shiraji commented on #217
This is the line that import AA to use [AndroidAnnotationsPermissionsDispatcherPlugin](https://github.com/AleksanderMielczarek/AndroidAnnotationsPermissionsDispatcherPlugin). I think you should ask @AleksanderMielczarek to update plugin's readme.

[2016-11-08 13:05] lfdversluis commented on #217
Got the same issue, not using annotationProcessor, only the line ` annotationProcessor "com.github.hotchemi:permissionsdispatcher-processor:2.2.0"` from the readme.

[2016-11-08 14:11] hotchemi commented on #217
@lfdversluis Sorry I can't understand what you mean. If you're not using annotation processor the code never would be generated literally.

[2016-11-08 14:13] hotchemi commented on #217
Folks, we mixed some problems in the same issue and AndroidAnnotationsPermissionsDispatcherPlugin is not official product of me. So please ask more detail at appropriate place. Thx!

[2016-11-08 14:13] #217 closed

[2016-11-08 18:27] rdbrown commented on #217
Yes, I did. Thanks.  I did not read your documentation carefully. It was my
mistake.

On Sun, Nov 6, 2016 at 9:19 PM, Shintaro Katafuchi <notifications@github.com

[2016-11-08 18:56] C4Grey opened #218 "Generated class in Kotlin"
My MainActivityPermissionsDispatcher is treated as unresolved reference upon a first build, so I've worked out next steps:
1. Add `main.java.srcDirs += 'build/generated/source/kapt/debug'` to build.gradle(in 'app' module).
2. Comment any code related to a generated class, and un-comment it after a success build.

This is not seems right, especially when working in a team, and, IMHO, it is an issue

[2016-11-08 23:22] shiraji commented on #218
Could you post `build.gradle`? Could you give us simple project that reproduce this issue?

[2016-11-09 01:23] hotchemi commented on #218
@C4Grey Firstable you don't have to add build to source dirs. I know some uses that are using this library with Kotlin well so I suppose you might mistake or miss something. Could you give us a minimum example?
FYI: Kolin has two kapt, generating stub and native implementation(from 1.0.4), have you tried both?

[2016-11-09 02:38] C4Grey commented on #218
Exactly, I forgot about stubs. This simple instruction just saved a day, thanks:
[code]
Totally my bad, the issue can be closed, and thanks again.

[2016-11-09 02:46] #218 closed

[2016-11-19 18:42] Dev-iL commented on #217
I'd like to add that there's something fishy going on when using PermissionsDispatcher `v2.2.0` in conjunction with `'com.android.tools.build:gradle:2.3.0-alpha1'`, where the `*PermissionsDispatcher` classes are not generated (with no particular error other than that they simply don't exist).

I found a workaround (solution?) by adding the following to my **app**-level `build.gradle`:

[code]

The

[2016-11-20 02:03] zs1973 opened #219 "Can not work with Realm"
work with realm will lead to can not  generate xxxxxPermissionsDispatcher .

[2016-11-20 02:10] shiraji commented on #219
Why do you think Realm affect PermissionsDispatcher?

[2016-11-20 11:14] hotchemi commented on #219
@zs1973 Can you give us more info or sample project to reproduce?

[2016-11-21 09:57] livotov opened #220 "SupportV13MissingException when jack is enabled"
After enabling the Jack, Im getting permissions.dispatcher.processor.exception.SupportV13MissingException: PermissionsDispatcher for annotated class 'MyFragment' can't be generated, because the support-v13 dependency is missing on your project
<br />
<br />The v13 dependency is in place, it works fine if I switch back to apt plugin.

[2016-11-21 10:50] aurae commented on #220
Thanks for your report! I can reproduce the issue here.

We'd have to look deeper into what classpath Jack is provided with when invoking its annotation processors, because it doesn't seem to pick up on the `support-v13` library. There's a simple `Class.forName` check to determine if that library is available (more specifically, `FragmentCompat`), so that's really the only explanation I can come u

[2016-11-21 12:44] shiraji commented on #220
@aurae Could you provide a sample project and steps to repoduce this issue?

[2016-11-21 13:29] aurae commented on #220
Sure thing, I'll prepare that shortly.

[2016-11-21 15:21] hotchemi commented on #220
Thx contributors! I'm still not sure this is our side bug since I dunno Jack will assure the classpath around behavior compatibility...I'll wait @aurae 's work:D

[2016-11-21 15:21] #219 closed

[2016-11-21 15:22] hotchemi commented on #219
@zs1973 We don't have enough info to investigate more so let me close this. Please reopen if you're still struggling with(and give us more info).

[2016-11-21 17:26] livotov commented on #220
Thanks guys and great it's reproducible!

btw, @hotchemi  , didn't you think to just make 2 extra modules, so one can include either one or another dependency, depending on support fragments usage, like

[code]
or

[code]

[2016-11-22 05:31] hotchemi commented on #220
@livotov Thx! What's the difference between you suggested? Do you mean like exporting support native Fragment feature as another module dependency?